<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/site/css/user.css}" />
    <title>로그인</title>
</head>

<body class="login-body">
    <div class="bg-white">
        <form th:action="@{/login}"  method="post">
            <div class="login-content">
                <p>Check your vacation</p>
                <p>Sign in to start your session</p>
                <input type="text" id="memberEmail" name="memberEmail" placeholder="E-mail" class="form-control2">
                <div th:if="${memberEmailError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberEmailError}"></span>
                </div>

                <input type="password" id="memberPassword" name="memberPassword" placeholder="Password" class="form-control2">
                <div th:if="${memberPasswordError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberPasswordError}"></span>
                </div>
                <div class="mgt-15">
                    <input type="checkbox" id="autoid">
                    <label for="autoid">자동저장</label>
                    <div href="javscript void(0)" class="find_link ">
                        <a href="">
                            아이디 찾기
                        </a>
                        <span>|</span>
                        <a href="">
                            비밀번호 찾기
                        </a>
                    </div>
                </div>
                <button class="deepblue-button">
                    <span>로그인</span>
                </button>
                <a href="/register" class="gray-button">
                    회원가입
                </a>
            </div>


        </form>


    </div>
</body>

</html>