<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/common/layout/basic_layout}">
<head>
<script th:inline="javascript">
$(document).ready(function() {
	
});

</script>
</head>
<th:block layout:fragment="content">
	
	<div class="use">
		<h3>개인정보처리방침</h3>
		<div class="use-content">
			<h6>개인정보 필수항목 수집 및 이용 동의</h6>
			<span class="policy">가. 수집목적</span>
			<ul class="policy2">
				<li class="num1">정보주체의 동의하에 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달</li>
				<li class="num2">정보주체의 동의하에 관련법령(국가연구개발사업의 관리 등에 관한 규정 등)에 의거하여 정부과제수행자(대표자, 책임자 등)를 국가과제 운영정보로 활용</li>
			</ul>
			<span class="policy">나. 수집항목</span>
			<ul class="policy2">
				<li class="num1">국가뿌리산업진흥센터는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.</li>
			</ul>
			<ul class="policy1">
				<li>- 필수정보 : 성명, 아이디, 비밀번호, 휴대폰번호, 전화번호, 이메일, 사업자종류, 사업체명, 사업자등록번호, 사업체 설립일, 뿌리기업여부, 연구소 설립여부, 공장등록여부, 특화단지 신청 부서명, 직책(특화단지 지정/지원/선도단지 신청의 경우 해당 지자체 부서명, 직책 등 기입)</li>
			</ul>
			<span class="policy">다. 이용 및 보유기간</span>
			<ul class="policy2">
				<li class="num1">이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기함을 원칙으로 하나, 국가 사업수행에 필수적인 정보에 포함된 개인정보에 대해서는 관련법령(국가연구개발사업의 관리 등에 관한 규정 등)에 따라 관련법령 업무가 종료될까지 일정기간 보존합니다.</li>
			</ul>
			<span class="policy">라. 동의 거부권 및 거부에 대한 불이익</span>
			<ul class="policy2">
				<li class="num1">정보주체는 개인정보 수집에 대해 동의를 거부할 권리가 있으며, 서비스 제공에 필요한 최소한의 개인정보 수집에 동의하지 않을 경우 서비스 이용이 불가능할 수 있습니다.</li>
			</ul>
			<span class="policy">마. 기타 개인정보보호에 관한 사항은 홈페이지에 공개된 개인정보처리방침을 준수합니다.</span>
		</div>
		<div class="use-content">
			<h6>개인정보 선택항목 수집 및 이용 동의</h6>
			<span class="policy">가. 수집목적</span>
			<ul class="policy2">
				<li class="num1">정보주체의 동의하에 회원제 서비스 이용 및 제한적 본인 확인제에 따른 본인확인, 개인식별, 불량회원의 부정 이용방지와 비인가 사용방지, 가입의사 확인, 가입 및 가입횟수 제한, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달</li>
				<li class="num2">정보주체의 동의하에 관련법령(국가연구개발사업의 관리 등에 관한 규정 등)에 의거하여 정부과제수행자(대표자, 책임자 등)를 국가과제 운영정보로 활용</li>
			</ul>
			<span class="policy">나. 수집항목</span>
			<ul class="policy2">
				<li class="num1">국가뿌리산업진흥센터는 회원가입, 원활한 고객상담, 각종 서비스의 제공을 위해 최초 회원가입 당시 아래와 같은 최소한의 개인정보를 필수항목으로 수집하고 있습니다.</li>
			</ul>
			<ul class="policy1">
				<li>- 선택항목 : 뿌리기업확인서 번호, 뿌리기업 확인서 발급일, 뿌리기술 전문기업 지정 번호, 뿌리기술 전문기업 지정일, 일하기 좋은 뿌리기업 번호, 일하기 좋은 뿌리기업 지정일, 뿌리기업 명가 번호, 뿌리기업 명가 지정일, 홈페이지 주소, 대표전화번호, 팩스번호, 종업원수(직원수, 관리직, 생산직, 연구직, 외국인), 연구소 서립일, 대지면적(m2), 공장등록번호, 연건평면적(m2), 영리구분, 주요생산품, 특화단지명 선택(특화단지 지정/지원/선도단지의 경우 단지명 선택), 대표자 정보(성명, 연락처, 이메일, 취임일자)</li>
			</ul>
			<span class="policy">다. 이용 및 보유기간</span>
			<ul class="policy2">
				<li class="num1">이용자의 개인정보는 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기함을 원칙으로 하나, 국가 사업수행에 필수적인 정보에 포함된 개인정보에 대해서는 관련법령(국가연구개발사업의 관리 등에 관한 규정 등)에 따라 관련법령 업무가 종료될까지 일정기간 보존합니다.</li>
			</ul>
			<span class="policy">라. 동의 거부권 및 거부에 대한 불이익</span>
			<ul class="policy2">
				<li class="num1">정보주체는 개인정보 수집에 대해 동의를 거부할 권리가 있으며, 서비스 제공에 필요한 최소한의 개인정보 수집에 동의하지 않을 경우 서비스 이용이 불가능할 수 있습니다.</li>
			</ul>
			<span class="policy">마. 기타 개인정보보호에 관한 사항은 홈페이지에 공개된 개인정보처리방침을 준수합니다.</span>
		</div>
	</div>

</th:block>
</html>