<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mngr/common/layout/basic_layout}">

<head>
<script th:inline="javascript">
	$(document).ready(function() {
		initPage();
		setDefault();
	});
	
	const initPage = function() {
		listFunc();
		deleteFunc();
		logoutFunc();
	};
	
	const setDefault = function() {
		
	};
	
	const listFunc = function () {
	    $(".list").off("click").on("click", function (e) {
	        e.preventDefault();
	        $(location).attr("href", "online-list?" + $("[name=searchForm]").serialize());
	    });
	};
	
	const deleteFunc = function () {
		$('.delete').off('click').on('click', function (e) {
			e.preventDefault();
			deleteOnline();
		});
	}
	
	const deleteOnline	 = function () {
		if (!confirm('삭제하시겠습니까?')) {
			return;
		}
		
		const formData = {
			onlineId : $('input[name="onlineId"]').val(),
		};
	
		$.ajax({
			data : JSON.stringify(formData),
			url : '/mngr/online/remove',
			type : 'post',
			dataType : 'json',
			contentType : 'application/json',
			beforeSend : function(xhr){
				xhr.setRequestHeader(header, token);
			}	
		})
		.done(function(res, status, xhr) {
			alert('삭제되었습니다.');
			$(location).attr('href', 'online-list?' + $('[name="searchForm"]').serialize());
		})
		.fail(function(xhr, status, error) {
			alert('삭제 오류.');
		});
	};
	
	const logoutFunc = function () {
	    $("#logout_btn").off("click").on("click", function (e) {
	        e.preventDefault();
	        $(location).attr("href", "/mngr/logout");
	    });
	};

</script>


</head>

    <th:block layout:fragment="content">
        <form name="searchForm" method="get" action="">
        	<input type="hidden" name="onlineId" th:value="${onlineDTO.onlineId}"/>
        </form>

        <div class="main">
            <!--search content-->
            <div class="content">
                <!--header menu-->
                <div class="header">
                    <div class="logo">
                        <a href="javascript void(0)"></a>
                        <button id="logout_btn">
                            <img src="/res/mngr/img/login.png" alt="">
                            <span>로그아웃</span>
                        </button>
                    </div>
                </div>

                <div class="inner-content">
                    <h3>
                        <img src="/res/mngr/img/speaker.png" alt="">
                        <span>온라인문의 상세</span>
                    </h3>
                    <div class="table-inner">
                        <table class="table">
                            <colgroup>
                                <col width="10%">
                                <col>
                                <col width="10%">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상담번호</th>
                                    <td colspan="3" th:text="${online.onlineVO.onlineId}">234</td>
                                </tr>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="3" th:text="${online.onlineVO.title}">소량 주문 제작 가능여부 문의 (경북대학교 공성호 교수님 연구실)</td>
                                </tr>
                                <tr>
                                    <th>작성자</th>
                                    <td colspan="3" th:text="${online.onlineVO.writer}">박주형</td>
                                </tr>
                                <tr>
                                    <th>기업명</th>
                                    <td colspan="3" th:text="${online.onlineVO.compNm}">에이치앤제이</td>
                                </tr>
                                <tr>
                                    <th>전화번호</th>
                                    <td th:text="${online.onlineVO.callNo}">010-8715-2497</td>
                                    <th>이메일</th>
                                    <td th:text="${online.onlineVO.email}">ptg0131@gmail.com</td>
                                </tr>
                                <tr>
                                    <th>등록일</th>
                                    <td colspan="3" th:text="${online.onlineVO.registDate}">2022-11-02</td>
                                </tr>
                                <tr>
                                    <th>문의제품</th>
                                    <td colspan="3" th:text="${online.onlineVO.prdtNm}">압전세라믹필름</td>
                                </tr>
                                <tr>
                                    <th>문의내용</th>
                                    <td colspan="3" th:utext="${#strings.replace(online.onlineVO.prdtCt, nlString, '&lt;br /&gt;')}">
                                    	안녕하세요?
                                        플렉서블 압전세라믹 복합체 필름을 구매 관련하여 아래 사이즈에 대한 견적 요청드립니다.
                                        검토 후 발주 진행 하도록 하겠습니다.

                                        1. 사이즈: 30*40
                                        2. 수량 : 35 pcs

                                        기타 추가 사항이 있으시면 연락 주시기 바랍니다.
                                        감사합니다.

                                        에이치앤제이 신원석 드림.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-button">
                        <div class="table-right">
                            <button class="delete">삭제하기</button>
                            <button class="list">목록보기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</html>