<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mngr/common/layout/basic_layout}">

<head>
<script th:inline="javascript">
$(document).ready(function() {
	initPage();
	registEvent();
	setDefault();
	categoryChange();
	findAllAction();
});


const initPage = function() {

};

const setDefault = function() {
	// 데이트피커 초기화
    $('#schDateStart').datepicker({
        format: "yyyy-mm-dd",
        startView: 3,
        todayBtn: "linked",
        language: "kr",
        orientation: "top auto",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        todayHighlight: true
    });
    
    $('#schDateEnd').datepicker({
        format: "yyyy-mm-dd",
        startView: 3,
        todayBtn: "linked",
        language: "kr",
        orientation: "top auto",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        todayHighlight: true
    });
};

const registEvent = function() {
	// prdtNm1의 변화를 감지
	$('.prdtNm1').change(function() {
		// prdtNm2의 값을 변경하는 함수
		categoryChange($('.prdtNm1 option:selected'));
	});
};

const findAllAction = function() {
	const schDateStart = $('#schDateStart').val();
	const schDateEnd = $('#schDateEnd').val();
	
	
	if (schDateStart > schDateEnd) {
		alert('검색 기간의 끝날짜가 시작날짜보다 빠릅니다.');
		$('#schDateEnd').focus();
		return;
	}
	
	const formData = $('form[name="searchForm"]').serializeObject();

	$.ajax({
		data : JSON.stringify(formData),
		url : '/mngr/online/find-all',
		type : 'post',
		dataType : 'json',
		contentType : 'application/json',
		beforeSend : function(xhr){
			xhr.setRequestHeader(header, token);
		}	
	}).done(function (result, status, xhr) {
		const totalCount = result.totalCount;
		const totalPageNo = result.totalPageNo;
		const list = result.list;
		let html = '';
		if (totalCount == 0) {
			html += '<tr><td class="text-center h-200px align-middle" colspan="6">데이터가 존재하지 않습니다.</td></tr>';
		}

		$.each(list, function(idx, el) {
			html += '<tr>';
			html += '<td>' + (el.no) + '</td>';
			html += '<td>' + (el.prdtNm) + '</td>';
			html += '<td class="txt-left"><a href="#" class="viewBtn" data-id="' + (el.onlineId) + '">' + (el.title) + '</a></td>';
			html += '<td>' + (el.compNm) + '</td>';
			html += '<td>' + (el.writer) + '</td>';
			html += '<td>' + (el.registDate) + '</td>';
		});

		$('.table-search tbody').html(html);
		$('.el-paging').html(result.pagingHtml);

		pagingFunc();
		viewFunc();
	}).fail(function (xhr, status, error) {
		alert("데이터를 불러오는데 실패했습니다.");
	});
};

const viewFunc = function() {
	$('.viewBtn').off('click').on('click', function (e) {
		e.preventDefault();
		const idx = $(this).attr('data-id');
		$('input[name="onlineId"]').val(idx);
		$(location).attr('href', '/mngr/withUs/online-view?' + $('[name="searchForm"]').serialize());
	});
};

const pagingFunc = function() {
	$('.pagination .page-link').off('click').on('click', function (e) {
		e.preventDefault();
		if ($(this).parent('a').hasClass('active') == false) {
			$('[name="pageNo"]').val($(this).attr('data-pageNo'));
			findAllAction();
		}
	});
};


const categoryChange = function(value) {
	let prdt1_val = $(value).val();
	
	let prdt2_a = ["선택"];
	// 1. 압전세라믹필름일 때 prdtNm2의 옵션값들 
	let prdt2_b = ["선택", "IP-1515", "IP-1530", "IP-1545", "IP-T1030"];
	// 2. 적충형압전세라믹필름일 때 prdtNm2의 옵션값들
	let prdt2_c = ["선택", "IP-1515L", "IP-1530L", "IP-1545L", "IP-T1030L"];
	// 3.압전세라믹캔틸레버일 때 prdtNm2의 옵션값들
	let prdt2_d = ["선택", "IPC-1515", "IPC-1530", "IPC-1545", "IPC-T1030"];
	// 4.플렉서블압전세라믹복합체필름일 때 prdtNm2의 옵션값들
	let prdt2_e = ["선택", "IPFC-2050T", "IPFC-2050L"];
	
	let prdt2_result = null;
	
	var target = $('.prdtNm2');
	
	if(prdt1_val == 'a') prdt2_result  = prdt2_a;
	if(prdt1_val == 'b') prdt2_result  = prdt2_b;
	if(prdt1_val == 'c') prdt2_result  = prdt2_c;
	if(prdt1_val == 'd') prdt2_result  = prdt2_d;
	if(prdt1_val == 'e') prdt2_result  = prdt2_e;
	
	$(target).children().remove();
	
	for (index in prdt2_result) {	
	    let option = document.createElement('option');
	    option.value = prdt2_result[index];
	    option.text = prdt2_result[index];
	    $(target).append(option);
	}
};

</script>    
</head>

<th:block layout:fragment="content">
    <form name="searchForm" method="get" action="" onsubmit="return false;">
    	<input type="hidden" name="onlineId" value="0"/>
    	<input type="hidden" name="pageNo" th:value="${onlineDTO.pageNo}"/>
		<input type="hidden" name="pageBlock" th:value="${onlineDTO.pageBlock}"/>
		<input type="hidden" name="pageSize" th:value="${onlineDTO.pageSize}"/>
    
        <div class="main">
            <!--search content-->
            <div class="content">
                <!--header menu-->
                <div class="header">
                    <div class="logo">
                        <a href="javascript void(0)"></a>
                        <button id="logout_btn">
                            <img src="/res/mngr/img/login2.png" alt="">
                            <span>로그아웃</span>
                        </button>
                    </div>
                </div>
                <!--header menu-->

                <div class="table-title">
                    <h3>
                        <img src="/res/mngr/img/speaker.png" alt="">
                        <span>온라인 문의</span>
                    </h3>
                </div>

                <div class="inner-content">
                    <div class="search">
                        <!--table title-->
                        <div class="search-title">
                            검색영역
                        </div>

                        <!--search-->
                        <div class="search-content">
                            <div class="row">
                                <div class="card-body">
                                    <div class="col-xs-12">
                                        <div class="col-xs-4">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="" class="col-xs-2 control-label">등록일</label>
                                                    <div class="col-lg-9">
                                                        <div class='input-group date w45-inline' id='datapickerBox'>
                                                            <input type="text" id="schDateStart" class="form-control">
                                                            <span class="input-group-addon"><span
                                                                    class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>

                                                        <div class="tiled1">~</div>

                                                        <div class='input-group date w45-inline' id='datapickerBox'>
                                                            <input type="text" id="schDateEnd" class="form-control">
                                                            <span class="input-group-addon"><span
                                                                    class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-xs-8">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="" class="col-xs-1 control-label">제목</label>
                                                    <div class="col-xs-10">
                                                        <input type="text" class="form-control w88">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="col-xs-4">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="" class="col-xs-2 control-label">제품명</label>
                                                    <div class="col-xs-10">
                                                        <select class="prdtNm1 form-control-2 w65 dib">
                                                            <option value="a">선택</option>
															<option value="b">압전세라믹필름</option>
															<option value="c">적충형압전세라믹필름</option>
															<option value="d">압전세라믹캔틸레버</option>
															<option value="e">플렉서블압전세라믹복합체필름</option>
                                                        </select>
                                                        <select class="prdtNm2 form-control w33 dib padding6-10">
                                                            <option>선택</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-xs-4">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="" class="col-xs-2 control-label">기업명</label>
                                                    <div class="col-xs-9">
                                                        <input type="text" class="w60 form-control">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="col-xs-4">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="" class="col-xs-2 control-label">작성자</label>
                                                    <div class="col-xs-9">
                                                        <input type="text" class="form-control w60">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-xs-12 text-right">
                                        <div class="col-xs-12">
                                            <button id="btnSearch" type="button" class="btn btn-primary btn-sm">검색</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--list-->
                    <div class="table-inner mgt-50">
                        <table class="table-search">
                            <colgroup>
                                <col width="7%">
                                <col width="20%">
                                <col>
                                <col width="10%">
                                <col width="7%">
                                <col width="10%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>제품명</th>
                                    <th>제목</th>
                                    <th>기업명</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr>
                                    <td>234</td>
                                    <td>압전 세라믹 필름/IP-1530</td>
                                    <td>
                                        <a href="javascritpt:void(0)">
                                            압전에너지 관련 설치 및 견적
                                        </a>
                                    </td>
                                    <td>(유)본건축디자인</td>
                                    <td>김라인경</td>
                                    <td>2021-12-03</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--list-->
                    <div class="col-xs-12 margin4030">
                        <div class="col-xs-2">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-9">
                                        <select class="form-control w80" id="regOldDiv1" name="regOldDiv1">
                                            <option selected="selected" value="10">10개씩보기</option>
                                            <option value="20">20개씩보기</option>
                                            <option value="30">30개씩보기</option>
                                            <option value="40">40개씩보기</option>
                                            <option value="50">50개씩보기</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="el-paging col-xs-8">
                            <div class="pagination paging">
                                <a class="prev" alt="이전페이지"></a>
                                <a href="#1^10" data-pg="1">1</a>
                                <a href="#2^10" data-pg="2">2</a>
                                <a href="#3^10" data-pg="3">3</a>
                                <a href="#4^10" data-pg="4">4</a>
                                <a href="#5^10" data-pg="5">5</a>
                                <a href="#6^10" data-pg="6">6</a>
                                <a href="#7^10" data-pg="7">7</a>
                                <a href="#8^10" data-pg="8">8</a>
                                <a href="#9^10" data-pg="9">9</a>
                                <a href="#10^10" data-pg="10">10</a>
                                <a class="next" href="#11^10">다음</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</th:block>
</html>