<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/common/layout/basic_layout}">

<head>
	<th:block layout:fragment="script">
 
	</th:block>
</head>
<th:block layout:fragment="content">
	<!-- main fullpage -->
	<div id="all_menu">
		<div class="all_menu_header">
			<a href="/" class="logo"></a>
			<div class="right">
				<div class="all_menu_btn">
					<i></i>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="gnb"></div>
		</div>
	</div>
	<div class="m_menu_bg"></div>
	<div id="m_menu">
		<div class="top_box">
			<img src="/res/site/img/logo02.png" alt="">
			<a class="close_btn" href="javascript:;"><i></i><i></i></a>
		</div>
		<div class="gnb_box">
		</div>
	</div>

	<div class="content">

		<div class="sub_visual">
			<div class="bg company-background"></div>
			<div class="inner">
				<div class="text">
					<h2 class="mont">COMPANY</h2>
				</div>
			</div>
		</div>
		<div class="sub_path">
			<a href="/" class="logo"></a>
			<div class="inner">
				<ul>
					<!--
					<li><a href="/Company/vision"><span>비전 및 미션</span></a></li>
					<li class="on"><a href="/Company/history"><span>연혁</span></a></li>
					<li><a href="/Company/company"><span>사업성과</span></a></li>
					<li><a href="/Company/patent"><span>인증 및 특허 현황</span></a></li>
				-->
				</ul>
			</div>
		</div>

		<script>
			$(document).on("ready", function () {
				var url = window.location.pathname;
				var urlPathname = url.substring(0, url.substring(1).indexOf('/') + 2);
				var fileName = url.substring(url.lastIndexOf('/') + 1);
				var isForDev = fileName == "read.jsp" || fileName == "edit.jsp" || fileName == "write.jsp" || fileName == "password.jsp" || fileName == "call.jsp" || fileName == "list.jsp";

				$("#header .gnb .depth01, #header .gnb .depth02 li").each(function () {
					if ($(this).find("> a").attr("href") == url) {
						$(this).addClass("on");

						if ($(this).hasClass("depth01")) {
							// 1depth만 있을 경우
							var indexNumber = $(this).index() + 1;
							var depth01Text = $(this).text();

							$(".sub_path").hide();
						} else {
							// 2depth가 있을 경우
							var indexNumber = $(this).parents(".depth02").parent().index() + 1;
							var depth01Text = $(this).parents(".depth02").prev().text();
							var depth02Html = $(this).parents(".depth02").html();

							$(".sub_path ul").append(depth02Html);
						}
						/**
						$(".sub_visual .bg").css("background-image", "url('/res/site/img/sub_visual0" + indexNumber + ".jpg')");
						**/
						$(".sub_visual .text h2").text(depth01Text);

					} else if (isForDev) {
						if ($(this).find(">a").attr("href").indexOf(url.substring(0, url.lastIndexOf('/') + 1)) > -1) {
							$(this).addClass("on");

							if ($(this).hasClass("depth01")) {
								// 1depth만 있을 경우
								var indexNumber = $(this).index() + 1;
								var depth01Text = $(this).text();

								$(".sub_path").hide();
							} else {
								// 2depth가 있을 경우
								var indexNumber = $(this).parents(".depth02").parent().index() + 1;
								var depth01Text = $(this).parents(".depth02").prev().text();
								var depth02Html = $(this).parents(".depth02").html();

								$(".sub_path ul").append(depth02Html);
							}
							/**
							$(".sub_visual .bg").css("background-image", "url('/res/site/img/sub_visual0" + indexNumber + ".jpg')");
						    **/
							$(".sub_visual .text h2").text(depth01Text);
						}
					}
				});
			});

			$(window).on("load", function () {
			});
		</script>

		<div class="history_con01 wow fadeInUp">
			<div class="inner">
				<div class="sub_tit">
					<h3>연혁</h3>
				</div>
				<div class="left_box">
					<div class="img_box">
						<img src="/img/history_con01_img01.png" alt="">
					</div>
					<div class="txt_box">
						<p class="mont">WE ARE BEST INITECH CORPORATION</p>
						<span>혁신을 이루는 기술력 아이엔아이테크</span>
					</div>
				</div>
				<div class="right_box">
					<dl>
						<dt class="mont">2021</dt>
						<dd>
							<p>공장등록완료</p>
						</dd>
					</dl>
					<dl>
						<dt class="mont">2020</dt>
						<dd>
							<p>서울지점 설립</p>
						</dd>
					</dl>
					<dl>
						<dt class="mont">2017</dt>
						<dd>
							<p>기업부설연구소 등록 / 웨어러블압전기술연구소 <br>(제2017115405호)</p>
							<p>벤처기업 확인 획득 (제2018013068호)</p>
						</dd>
					</dl>
					<dl>
						<dt class="mont">2016</dt>
						<dd>
							<p>표창 경남지방중기청장 "창업분야"</p>
							<p>표창 창원진흥원장 "재창업 성공"</p>
						</dd>
					</dl>
					<dl>
						<dt class="mont">2014</dt>
						<dd>
							<p>진주 본사 이전</p>
						</dd>
					</dl>
					<dl>
						<dt class="mont">2013</dt>
						<dd>
							<p>중진공 창업 맞춤형 사업 지원 창업</p>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</th:block>

</html>