<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
	<div id="footer">
		<div class="footer_top">
			<div class="inner">
				<div class="left">
					<a href="/" class="logo"><img src="/res/site/img/footer_logo.png" alt="logo" /></a>
					<div class="add">
						<span>경상남도 진주시 소호로 109, 201호 (충무공동, 세라믹소재종합지원센터)</span><br/>
						<span>대표번호: 070-4693-2625</span>
						<span>Fax: 055-792-2795</span>
						<span>E-mail:yjpark119@daum.net</span>
					</div>
				</div>
				<div class="right">
					<div class="footer_gnb"></div>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<a href="javascript:;" class="top_btn"><img src="/res/site/img/footer_top_btn.png" alt="top" /></a>
			<p class="copy">copyright@INI TECH inc. All Rights Reserved.</p>
		</div>
		<div class="top_btn">
			<a href="javascript:;"><img src="/img/foot_btn.png" alt=""></a>
		</div>
	</div>
</th:block>
</html>