<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup1')}">
		<h2>사업소개</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'companyIntro')} ? 'open' : 'close'">
				<a href="">사업소개<span class="plus"></span></a>
				<ul class="l-depth3">
					<li><a th:href="@{/company/companyIntro01}">사업절차</a></li>
				</ul>
				<ul class="l-depth3">
					<li><a th:href="@{/company/companyIntro02}">규정 및 서식</a></li>
				</ul>
				<ul class="l-depth3">
					<li><a th:href="@{/company/companyIntro03}">시스템 매뉴얼</a></li>
				</ul>
			</li>
			<li th:class="${#strings.equals(p_menu, 'companyNotice')} ? 'open' : 'close'">
				<a href="" th:href="@{/company/companyNotice}">공고</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'demandNeeds')} ? 'open' : 'close'">
				<a href="" th:href="@{/demand/demandNeeds}">수요조사</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup2')}">
		<h2>사업신청</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'info')} ? 'open' : 'close'">
				<a href="" th:href="@{/apply/info}">사업신청 안내</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'apply')} ? 'open' : 'close'">
				<a href="" th:href="@{/apply/applyList}">사업신청</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup3')}">
		<h2>선정평가</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'assess01')} ? 'open' : 'close'">
				<a href="" th:href="@{/assess/assess01}">과제평가 결과</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'assess02')} ? 'open' : 'close'">
				<a href="" th:href="@{/assess/assess02}">이의신청</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup4')}">
		<h2>협약</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'agreement01')} ? 'open' : 'close'">
				<a href="" th:href="@{/agreement/agreement01}">수정사업계획서 제출</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'agreement02')} ? 'open' : 'close'">
				<a href="" th:href="@{/agreement/agreement02}">협약확인</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'agreement03')} ? 'open' : 'close'">
				<a href="" th:href="@{/agreement/agreement03}">협약서류 작성 매뉴얼</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup5')}">
		<h2>사업수행</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'conduct01')} ? 'open' : 'close'">
				<a href="" th:href="@{/conduct/conduct01}">월간점검 제출</a>
			</li>
			<!-- 자동화첨단화에 해당되는경우 -->
			<li th:class="${#strings.equals(p_menu, 'mentoringlist')} ? 'open' : 'close'">
				<a href="" th:href="@{/conduct/mentoringlist}">Tech-Mentoring</a>			
			</li> 
			
			<li th:class="${#strings.equals(p_menu, 'conduct02')} ? 'open' : 'close'">
				<a href="" th:href="@{/conduct/conduct02}">과제평가</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'conduct03')} ? 'open' : 'close'">
				<a href="" th:href="@{/conduct/conduct03}">최종평가</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'conduct04')} ? 'open' : 'close'">
				<a href="" th:href="@{/conduct/conduct04}">최종보고서 제출</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup6')}">
		<h2>사후관리</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'List01')} ? 'open' : 'close'">
				<a href="" th:href="@{/management/List01}">성과관리</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'List02')} ? 'open' : 'close'">
				<a href="" th:href="@{/management/List02}">이의신청</a>
			</li>
			
		</ul>
	</nav>
	
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup7')}">
		<h2>정보마당</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'bbsNotice')} ? 'open' : 'close'">
				<a href="" th:href="@{/notice/list}">공지사항</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'bbsQna')} ? 'open' : 'close'">
				<a href="" th:href="@{/qna/list}">Q&A</a>
			</li>
			<!-- <li th:class="${#strings.equals(p_menu, 'bbsDataroom')} ? 'open' : 'close'">
				<a href="" th:href="@{/dataroom/list}">자료실</a>
			</li>
			<li th:class="${#strings.equals(p_menu, 'bbsFaq')} ? 'open' : 'close'">
				<a href="" th:href="@{/faq/list}">FAQ</a>
			</li> -->
			
		</ul>
	</nav>
	
	
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup8')}">
		<h2>마이페이지</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'myInfo')} ? 'open' : 'close'">
				<a href="" th:href="@{/myPage/myInfo}">정보수정</a>
			</li>
		</ul>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'evalNotice')} ? 'open' : 'close'">
				<a href="" th:href="@{/myPage/evalNotice}">전자공문</a>
			</li>
		</ul>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'summary')} ? 'open' : 'close'">
				<a href="" th:href="@{/myPage/summary}">기업요약 보고서</a>
			</li>
		</ul>
	</nav>
	<nav class="lmenu" th:if="${#strings.equals(p_menuGroup, 'menuGroup9')}">
		<h2>회원</h2>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'login')} ? 'open' : 'close'">
				<a href="" th:href="@{/user/login}">로그인</a>
			</li>
		</ul>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'memberJoin')} ? 'open' : 'close'">
				<a href="" th:href="@{/member/memberJoinAgree}">회원가입</a>
			</li>
		</ul>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'memberSearchId')} ? 'open' : 'close'">
				<a href="" th:href="@{/member/memberSearchId}">아이디 찾기</a>
			</li>
		</ul>
		<ul class="l-depth2">
			<li th:class="${#strings.equals(p_menu, 'memberSearchPw')} ? 'open' : 'close'">
				<a href="" th:href="@{/member/memberSearchPw}">패스워드 찾기</a>
			</li>
		</ul>
	</nav>
</th:block>
</html>