<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
	<header>
      <div class="s-menu">
        <span>        	
        	<a th:if="${session.SESSION_SITE == null}" th:href="@{/user/login}">로그인</a>
        	<a th:unless="${session.SESSION_SITE == null}" th:href="@{/user/logout}">로그아웃</a>
        </span>
        <span th:if="${session.SESSION_SITE == null}">
        	<a th:if="${session.SESSION_SITE == null}" th:href="@{/member/memberJoinAgree}">회원가입</a>
        </span>
        <span th:if="${session.SESSION_SITE != null}">
        	<a th:href="@{/myPage/}">마이페이지</a>
        </span>
        <span> <a th:href="@{#}">센터소개</a></span>
        <span> <a th:href="@{#}">사이트맵</a></span>
      </div>
      <div class="gnbbox">
        <h1><a th:href="@{/}"><img th:src="@{/res/site/img/m-logo.png}" alt="국가뿌리산업진흥센타"></a></h1>
        <ul class="t-menu">
          <li><a>사업소개</a>
            <ul>
              <li><a th:href="@{/company/companyIntro01}">사업소개</a></li>
              <li><a th:href="@{/company/companyNotice}">공고</a></li>
              <li><a th:href="@{/demand/demandNeeds}">수요조사</a></li>
            </ul>
          </li>
          <li><a>사업신청</a>
            <ul>
              <li><a th:href="@{/apply/info}">사업신청안내</a></li>
              <li><a th:href="@{/apply/applyList}">사업신청</a></li>
            </ul>
          </li>
          <li><a>선정평가</a>
          	<ul>
          		<li><a th:href="@{/assess/assess01}">과제평가 결과</a></li>
          		<li><a th:href="@{/assess/assess02}">이의신청</a></li>
          	</ul>
          </li>
          <li><a>협약</a>
          	<ul>
          		<li><a th:href="@{/agreement/agreement01}">수정사업계획서 제출</a></li>
          		<li><a th:href="@{/agreement/agreement02}">협약확인</a></li>
          		<li><a th:href="@{/agreement/agreement03}">협약서류 작성 매뉴얼</a></li>
          	</ul>
          </li>
          <li><a>사업수행</a>
          	<ul>
          		<li><a th:href="@{/conduct/conduct01}">월간점검 제출</a></li>
          		<li><a th:href="@{/conduct/conduct02}">과제평가</a></li>
          		<li><a th:href="@{/conduct/conduct03}">최종평가</a></li>
          		<li><a th:href="@{/conduct/conduct04}">최종보고서 제출</a></li>
          	</ul>
          </li>
          <li><a>사후관리</a>
          	<ul>
          		<li><a th:href="@{/management/List01}">성과관리</a></li>
          		<li><a th:href="@{/management/List02}">이의신청</a></li>
          	</ul>
          </li>
          <li><a>정보마당</a>
             <ul>
             	<li><a th:href="@{/notice/list}">공지사항</a></li>
             	<li><a th:href="@{/qna/list}">Q&A</a></li>
             	<!-- <li><a th:href="@{/dataroom/list}">자료실</a></li>
             	<li><a th:href="@{/faq/list}">FAQ</a></li> -->
             </ul>
          </li>
        </ul>
      </div>
    </header>
</th:block>
</html>