<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="main-script">
<script th:inline="javascript">
$(document).ready(function() {
	const header = $('meta[name="_csrf_header"]').attr('content');
	const token = $('meta[name="_csrf"]').attr('content');
	
	sliderHandler();
	fullpageHandler();
});

const sliderHandler = function() {
	$('.slider').slick({
		draggable: true,
		adaptiveHeight: false,
		dots: false,
		arrows: false,
		mobileFirst: true,
		pauseOnDotsHover: true,
		fade:true,
		autoplay: true,
		autoplaySpeed: 5000,
	});
};

const fullpageHandler = function() {
	$('#fullpage').fullpage({
		licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
		anchors : ['01', '02', '03', '04'],
		navigation: true,
		responsiveWidth: 1000,
		navigationPosition: 'right',
	});	
};

var mc3 = new Swiper(".main_con03 .img_inner_slide_box",{
	speed:4000,
	autoplay:{
		delay:2000,
		pauseOnMouseEnter:true,
	}
});
</script>
</th:block>
</html>