<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/common/layout/basic_layout}">

<head>
	<th:block layout:fragment="script">

	</th:block>
</head>
<th:block layout:fragment="content">
	<!-- main fullpage -->
	<div id="header">
		<a href="/" class="logo"></a>
		<div class="inner">
			<div class="gnb">
				<ul>
					<li>
						<a class="mont" href="/Company/vision">COMPANY</a>
						<ul class="depth02">
							<li><a href="/Company/vision"><span>비전 및 미션</span></a></li>
							<li><a href="/Company/history"><span>연혁</span></a></li>
							<li><a href="/Company/company"><span>사업성과</span></a></li>
							<li><a href="/Company/patent"><span>인증 및 특허 현황</span></a></li>
						</ul>
					</li>
					<li>
						<a class="mont" href="/md/piezoele">R&D</a>
						<ul class="depth02">
							<li><a href="/md/piezoele"><span>압전</span></a></li>
							<li><a href="/md/energy"><span>에너지 하베스팅</span></a></li>
							<li><a href="/md/health"><span>헬스케어</span></a></li>
						</ul>
					</li>
					<li>
						<a class="mont" href="/products/wearable">PRODUCT</a>
						<ul class="depth02">
							<li><a href="/products/wearable"><span>웨어러블 센서소자</span></a></li>
							<li><a href="/products/IoT"><span>IoT 델리네이터</span></a></li>
							<li><a href="/products/mitt"><span>전자미트</span></a></li>
						</ul>
					</li>
					<li>
						<a class="mont" href="/Business/platform">BUSINESS</a>
						<ul class="depth02">
							<li><a href="/Business/platform"><span>플랫폼 서비스</span></a></li>
							<li><a href="/Business/smart"><span>스마트 빌리지</span></a></li>
							<!--<li><a href="javascript:;">주요사업</a></li> -->
						</ul>
					</li>
					<li>
						<a class="mont" href="/withUs/direction">WITH US</a>
						<ul class="depth02">
							<li><a href="/withUs/direction"><span>오시는길</span></a></li>
					        <li><a href="/withUs/online"><span>온라인문의</span></a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="all_menu_btn">
				<i></i><i></i>
			</div>
		</div>
		<div class="m_btn">
			<a href="javascript:;">
				<i></i><i></i>
			</a>
		</div>
	</div>
	<div id="all_menu">
		<div class="all_menu_header">
			<a href="/" class="logo"></a>
			<div class="right">
				<div class="all_menu_btn">
					<i></i>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="gnb"></div>
		</div>
	</div>
	<div class="m_menu_bg"></div>
	<div id="m_menu">
		<div class="top_box">
			<img src="/img/logo02.png" alt="">
			<a class="close_btn" href="javascript:;"><i></i><i></i></a>
		</div>
		<div class="gnb_box">
		</div>
	</div>
	<script>
		$(document).ready(function () {
			var gnbHtml = $("#header .gnb").html();
			$("#all_menu .gnb").html(gnbHtml);
			$("#m_menu .gnb_box").html(gnbHtml);
		});
		$("#header .all_menu_btn").on('click', function () {
			$("#all_menu").fadeIn(200);
		});
		$("#all_menu .all_menu_btn").on('click', function () {
			$("#all_menu").fadeOut(200);
		});

		$(".top_btn").on("click", function () {
			$("body,html").animate({scrollTop: 0});
		});

		$(window).on("load", function () {
			// 모바일 클릭
			$("#header .m_btn").on("click", function () {
				$("#m_menu").addClass("on");
				$(".m_menu_bg").fadeIn();
			});
			$(".m_menu_bg, #m_menu .close_btn").on("click", function () {
				$("#m_menu").removeClass("on");
				$(".m_menu_bg").fadeOut();
			});
			// 모바일 메뉴
			$("#m_menu .gnb_box > ul > li > a").on("click", function () {
				if (!$(this).parent().hasClass("depth01")) {
					// 2depth가 있을 경우
					$(this).parent("li").toggleClass("on").siblings().removeClass("on");
					$(this).next(".depth02").stop(true, true).slideToggle().parent("li").siblings().find(".depth02").slideUp();
					return false;
				}
			});
			$('#header').on('mouseenter', function () {
				$(this).addClass("on")
			});
			$('#header').on('mouseleave', function () {
				$(this).removeClass("on")
			});

		});
	</script>

	<div class="content">

		<div class="sub_visual">
			<div class="bg"></div>
			<div class="inner">
				<div class="text">
					<h2 class="mont"></h2>
				</div>
			</div>
		</div>
		<div class="sub_path">
			<a href="/" class="logo"></a>
			<div class="inner">
				<ul>
					<!--
					<li class="on"><a href="/withUs/direction"><span>오시는길</span></a></li>
					<li><a href="/withUs/online"><span>온라인문의</span></a></li>
				-->
				</ul>
			</div>
		</div>

		<script>
			$(document).on("ready", function () {
				var url = window.location.pathname;
				var urlPathname = url.substring(0, url.substring(1).indexOf('/') + 2);
				var fileName = url.substring(url.lastIndexOf('/') + 1);
				var isForDev = fileName == "read.jsp" || fileName == "edit.jsp" || fileName == "write.jsp" || fileName == "password.jsp" || fileName == "call.jsp" || fileName == "list.jsp";

				$("#header .gnb .depth01, #header .gnb .depth02 li").each(function () {
					if ($(this).find("> a").attr("href") == url) {
						$(this).addClass("on");

						if ($(this).hasClass("depth01")) {
							// 1depth만 있을 경우
							var indexNumber = $(this).index() + 1;
							var depth01Text = $(this).text();

							$(".sub_path").hide();
						} else {
							// 2depth가 있을 경우
							var indexNumber = $(this).parents(".depth02").parent().index() + 1;
							var depth01Text = $(this).parents(".depth02").prev().text();
							var depth02Html = $(this).parents(".depth02").html();

							$(".sub_path ul").append(depth02Html);
						}

						$(".sub_visual .bg").css("background-image", "url('/img/sub_visual0" + indexNumber + ".jpg')");
						$(".sub_visual .text h2").text(depth01Text);

					} else if (isForDev) {
						if ($(this).find(">a").attr("href").indexOf(url.substring(0, url.lastIndexOf('/') + 1)) > -1) {
							$(this).addClass("on");

							if ($(this).hasClass("depth01")) {
								// 1depth만 있을 경우
								var indexNumber = $(this).index() + 1;
								var depth01Text = $(this).text();

								$(".sub_path").hide();
							} else {
								// 2depth가 있을 경우
								var indexNumber = $(this).parents(".depth02").parent().index() + 1;
								var depth01Text = $(this).parents(".depth02").prev().text();
								var depth02Html = $(this).parents(".depth02").html();

								$(".sub_path ul").append(depth02Html);
							}

							$(".sub_visual .bg").css("background-image", "url('/img/sub_visual0" + indexNumber + ".jpg')");
							$(".sub_visual .text h2").text(depth01Text);
						}
					}
				});
			});

			$(window).on("load", function () {
			});
		</script>

		<div class="with_top_box">
			<div class="inner">
				<div class="sub_tit">
					<h3>오시는 길</h3>
				</div>
				<div class="sub_tabbtn">
					<ul class="grid05">
						<li class="on"><a href="javascript:;"><span>본사</span></a></li>
						<li><a href="javascript:;"><span>서울 사무실</span></a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tab_contents">
			<!-- tab01 -->
			<div>
				<div class="direction_con01 wow fadeInUp">
					<div class="inner">
						<div class="map_box">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13045.146463445166!2d128.12920366834376!3d35.17440827214627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b61de48297ce5%3A0x6bd7e3f3af32907f!2z7ZWc6rWt7IS4652866-56riw7Iig7JuQ!5e0!3m2!1sko!2skr!4v1649398228399!5m2!1sko!2skr"
								width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="inner">
							<div class="txt_box">
								<p><b>진주사무소</b> 경상남도 진주시 소호로 109, 201호(충무공동, 세라믹소재종합지원센터)</p>
								<span><b>TEL</b> 070-4693-2625</span>
							</div>
						</div>
					</div>
				</div>
				<div class="direction_con02 wow fadeInUp">
					<div class="inner">
						<dl>
							<dt>주소</dt>
							<dd>
								<p>진주사무소</p>
								<span>경상남도 진주시 소호로 109, 201호 (충무공동, 세라믹소재종합지원센터)</span>
							</dd>
						</dl>
						<dl>
							<dt>전화</dt>
							<dd>
								<p>진주사무소</p>
								<span>070-4693-2625</span>
							</dd>
						</dl>
						<dl>
							<dt>교통안내</dt>
							<dd>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon01.png" alt="icon" /></i>
									<div class="txt">
										<p>기차</p>
										<span>택시 이용 : 진주역(KTX) > 한국세라믹기술원 / 요금 약 6,000원</span>
										<span>버스 이용 : 진주역 > 200번버스 > 한국승강기안전공단 하차 > 한국세라믹기술원(도보 1분)</span>
									</div>
								</div>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon03.png" alt="icon" /></i>
									<div class="txt">
										<p>버스</p>
										<span>사천시외버스터미널 또는 사천공항 맞은편 정거장 > 진주행 시외버스 탑승 > 진주시외버스터미널 하차 > 292, 293, 300,
											301번 버스 > 한국승강기안전공단 하차 > 한국세라믹기술원(도보 1분)</span>
										<span>사천시외버스터미널 또는 사천공항 맞은편 정거장 > 진주행 시외버스 탑승 > 경상대학교 정문 하차 > 200번 버스 >
											한국승강기안전공단 하차 > 한국세라믹기술원(도보 1분)</span>
									</div>
								</div>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon04.png" alt="icon" /></i>
									<div class="txt">
										<p>자가용</p>
										<span>서울/광주 방향 : 진주 IC</span>
										<span>부산 방향 : 문산 IC</span>
									</div>
								</div>
								<div class="txt_box">
									<i><img src="/img/direction_con02_icon03.png" alt="icon" /></i>
									<div class="txt">
										<div class="box">
											<p>고속버스 시외버스</p>
											<span class="none">[진주고속버스터미널]</span>
											<span>280, 290번 버스 > 진주종합경기장 정류장 하차 > 한국세라믹기술원(도보 5분)</span>
										</div>
										<div class="box">
											<span class="none">[진주시외버스터미널]</span>
											<span>281, 282번 버스 > 진주종합경기장 정류장 하차 > 한국세라믹기술원(도보 5분)</span>
											<span>292, 293, 300, 301번 버스 > 한국승강기안전공단 정류장 하차 > 한국세라믹기술원(도보 1분)</span>
										</div>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>
			</div>
			<!-- tab02 -->
			<div>
				<div class="direction_con01 wow fadeInUp">
					<div class="inner">
						<div class="map_box">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.5912035891297!2d126.92466711605482!3d37.493972136036795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9fa49927d821%3A0x3ccfcc35139368f5!2z7ISc7Jq47Yq567OE7IucIOq0gOyVheq1rCDrs7Trnbzrp6TroZwgNTE!5e0!3m2!1sko!2skr!4v1649398113849!5m2!1sko!2skr"
								width="" height="" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="inner">
							<div class="txt_box">
								<p><b>서울사무소</b> 서울특별시 관악구 보라매로 51, (봉천동 724-8) 동양금속빌딩 2,3층</p>
								<span><b>TEL</b> 070-4693-2625</span>
							</div>
						</div>
					</div>
				</div>
				<div class="direction_con02 wow fadeInUp">
					<div class="inner">
						<dl>
							<dt>주소</dt>
							<dd>
								<p>서울사무소</p>
								<span>서울특별시 관악구 보라매로 51, (봉천동 724-8) 동양금속빌딩 2,3층</span>
							</dd>
						</dl>
						<dl>
							<dt>전화</dt>
							<dd>
								<p>서울사무소</p>
								<span>070-4693-2625</span>
							</dd>
						</dl>
						<dl>
							<dt>교통안내</dt>
							<dd>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon01.png" alt="icon" /></i>
									<div class="txt">
										<p>지하철</p>
										<span>서울역에서 지하철 4호선 승차 후 이수역에서 7호선 환승 후 신대방삼거리역 하차 (도보10분)</span>
									</div>
								</div>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon02.png" alt="icon" /></i>
									<div class="txt">
										<div class="box">
											<p>항공편</p>
											<span class="none">[인천공항]</span>
											<span>인천공항1터미널역 승차 후 김포공항역에서 9호선 환승 후 노량진역 하차 후(도보 4분) 6515번 이용 보라매병원입구
												하차</span>
											<span>인천공항2터미널역 승차 후 김포공항역에서 9호선 환승 후 여의도역 하차 후(도보 4분) 153번 이용 보라매병원입구
												하차</span>
										</div>
										<div class="box">
											<span class="none">[김포공항]</span>
											<span>651번 이용 신림역 하차후 6514번 이용 보라매삼성아파트,모자원고개 하차 (도보3분)</span>
											<span>김포공항역 승차 후 영등포구청역 2호선 환승 후 7호선 대림역 환승 후 신대방삼거리역 하차 (도보 10분)</span>
										</div>
									</div>
								</div>
								<div class="txt_box">
									<i><img src="/res/site/img/direction_con02_icon03.png" alt="icon" /></i>
									<div class="txt">
										<div class="box">
											<p>고속버스 시외버스</p>
											<span class="none">[고속버스터미널]</span>
											<span>버스 : 640번 승차 후 노들역 하차 152번 이용 보라매병원입구 하차</span>
											<span>지하철 : 고속터미널역에서 승차후 신대방삼거리역 하차 (도보 13분)</span>
										</div>
										<div class="box">
											<span class="none">[동서울종합터미널]</span>
											<span>버스: 9403 승차 후 동묘앞 하차 152번 이용 보라매병원입구 하차 </span>
											<span>지하철 : 강변역에서 지하철 2호선 승차 후 건대입구역에서 7호선 환승 후 신대방삼거리역 하차 (도보 13분)</span>
										</div>
										<div class="box">
											<span class="none">[서울남부버스터미널]</span>
											<span>버스: 461번 이용 보라매삼성아파트 , 모자원고개 하차 (도보 3분)</span>
											<span>지하철 : 남부터미널역에서 지하철 3호선 승차 후 고속터미널역에서 7호선 환승 후 신대방삼거리역 하차 (도보
												13분)</span>
										</div>
									</div>
								</div>
					</div>
					</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(window).on("load", function () {
			// tab
			$(".sub_tabbtn ul li a").on("click", function () {
				var idx = $(this).parent().index();
				$(this).parent().addClass("on").siblings().removeClass("on");
				$(".tab_contents > div").eq(idx).show().siblings().hide();
			});
		});
	</script>
	</div>
</th:block>

</html>