<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{site/common/layout/basic_layout}">
<head>




</head>
<th:block layout:fragment="basic_script">
<script type="text/javascript">
$(document).ready(function() {		
	initPage();
	registEvent();
	setDefault();
});

const initPage = function() {

};

const setDefault = function() {

};
	
const registEvent = function() {
	$('.prdtNm1').change(function() {
		categoryChange($('.prdtNm1 option:selected'));
	});
	
	$('#w_btn').click(function() {
		saveFunc();
	});
};

const saveFunc = function () {	
	if(!nullCheck()) {
		return false;
	}
	
	var formData = $("form[name=writeForm]").serializeObject();

	$.ajax({
		data: JSON.stringify(formData),
		url: "/online/save",
		type: "post",
		dataType: "json",
		contentType: "application/json"
	}).done(function (result, status, xhr) {
		alert("등록되었습니다.");
		$(location).attr("href", "/withUs/online");
	}).fail(function (xhr, status, error) {
		alert("등록에 실패하였습니다.");
	});
	
};
	
const nullCheck = function() {
	let formData = $("form[name=writeForm]").serializeObject();
	
	// 입력값 null 체크
	if(formData['title'] == '') {
		alert('제목을 입력해주세요.');
		$('input[name="title"]').focus();
		return false;
	}
	if(formData['writer'] == '') {
		alert('작성자를 입력해주세요');
		$('input[name="writer"]').focus();
		return false;
	}
	if(formData['callNo'] == '') {
		alert('전화번호를 입력해주세요.');
		$('input[name="callNo"]').focus();
		return false;
	}
	if(!/^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/.test(formData['callNo'])) {
		alert('전화번호 형식이 잘못 되었습니다.');
		$('input[name="callNo"]').focus();
		return false;
	}
	if(formData['email1'] == '') {
		alert('이메일을 입력해주세요.');
		$('input[name="email1"]').focus();
		return false;
	}
	if(!/^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])/.test(formData['email1'])) {
		alert('숫자나 알파벳(소/대문자)만 입력해주세요.');
		$('input[name="email1"]').focus();
		return false;
	}
	if(formData['email2'] == '') {
		alert('이메일을 선택해주세요.');
		$('input[name="email2"]').focus();
		return false;
	}
	if(!/^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/.test(formData['email2'])) {
		alert('이메일 형식이 잘못 되었습니다.');
		$('input[name="email2"]').focus();
		return false;
	}
	
	/*
	if(formData['prdtNm1'] == 'a') {
		alert('제품명을 선택해주세요.');
		$('select[name="prdtNm1"]').focus();
		return false;
	}
	if(formData['prdtNm2'] == '선택') {
		alert('제품코드를 선택해주세요.');
		$('select[name="prdtNm2"]').focus();
		return false;
	}
	if(formData['prdtCt'] == '') {
		alert('내용을 입력해주세요.');
		$('#prdtCt').focus();
		return false;
	}
	*/
	
	let prdtNm = '';
	
	if(formData['prdtNm1'] != '' && formData['prdtNm2'] != '') {
		prdtNm = formData['prdtNm1'] + ' > ' + formData['prdtNm2'];
	}
	$('input[name="prdtNm"]').val(prdtNm);
	
	let email = formData['email1'] + '@' + formData['email2'];
	$('input[name="email"]').val(email);
	
	if (!confirm("등록하시겠습니까?")) {
		return false;
	}
	
	return true;
};
		
const categoryChange = function(value) {
	let prdt1_val = $(value).val();
	
	let prdt2_a = ["선택"];
	// 1. 압전세라믹필름일 때 prdtNm2의 옵션값들 
	let prdt2_b = ["선택", "IP-1515", "IP-1530", "IP-1545", "IP-T1030"];
	// 2. 적충형압전세라믹필름일 때 prdtNm2의 옵션값들
	let prdt2_c = ["선택", "IP-1515L", "IP-1530L", "IP-1545L", "IP-T1030L"];
	// 3.압전세라믹캔틸레버일 때 prdtNm2의 옵션값들
	let prdt2_d = ["선택", "IPC-1515", "IPC-1530", "IPC-1545", "IPC-T1030"];
	// 4.플렉서블압전세라믹복합체필름일 때 prdtNm2의 옵션값들
	let prdt2_e = ["선택", "IPFC-2050T", "IPFC-2050L"];
	
	let prdt2_result = null;
	
	var target = $('.prdtNm2');
	
	if(prdt1_val == '') prdt2_result  = prdt2_a;
	if(prdt1_val == '압전세라믹필름') prdt2_result  = prdt2_b;
	if(prdt1_val == '적충형압전세라믹필름') prdt2_result  = prdt2_c;
	if(prdt1_val == '압전세라믹캔틸레버') prdt2_result  = prdt2_d;
	if(prdt1_val == '플렉서블압전세라믹복합체필름') prdt2_result  = prdt2_e;
	
	$(target).children().remove();
	
	for (index in prdt2_result) {	
	    let option = document.createElement('option');
	    option.value = prdt2_result[index];
	    option.text = prdt2_result[index];
	    $(target).append(option);
	}
};	

function selectEmail(ele) {
	var $this = $(ele);
	var $email2 = $('input[name=email2]');

	if ($this.val() == "직접입력") {
		$email2.attr('readonly', false);
		$email2.val('');
	} else {
		$email2.attr('readonly', true);
		$email2.val($this.val());
	}
};

</script>
</th:block>
<th:block layout:fragment="content">
	<div id="com2" style="width:0px; height:0px; position:absolute; left:0px; top:0px; z-index:1">
		<form name="urlMaintain" id="urlMaintain" action="/member/login.jsp" method="post">
			<input type="hidden" name="url" id="main_url" value="/withUs/online" />
			<input type="hidden" name="param" id="main_param" value="" />
		</form>
	</div>

	<div id="all_menu">
		<div class="all_menu_header">
			<a href="/" class="logo"></a>
			<div class="right">
				<div class="all_menu_btn">
					<i></i>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="gnb"></div>
		</div>
	</div>

	<div class="m_menu_bg"></div>

	<div id="m_menu">
		<div class="top_box">
			<img src="/res/site/img/logo02.png" alt="">
			<a class="close_btn" href="javascript:;"><i></i><i></i></a>
		</div>
		<div class="gnb_box"></div>
	</div>

	<div class="sub_visual">
		<div class="bg withus-background"></div>
		
		<div class="inner">
			<div class="text">
				<h2 class="mont">WITH US</h2>
			</div>
		</div>
	</div>

	<div class="sub_path">
		<a href="/" class="logo"></a>
		<div class="inner">
			<ul>
				<li><a href="/withUs/direction"><span>오시는길</span></a></li>
				<li class="on"><a href="/withUs/online"><span>온라인문의</span></a></li>
			</ul>
		</div>
	</div>

	<div class="inquiry_box">
		<div class="inner">
			<div class="sub_tit">
				<h3>온라인문의</h3>
			</div>
		</div>
	</div>

	<div class="with_top_box">
		<div class="inner">
			<div class="sub_tabbtn">
				<ul class="grid05">
					<li><a href="/withUs/direction"><span>오시는길</span></a></li>
					<li class="on"><a href="/withUs/online"><span>온라인문의</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<form name="writeForm" action="#">
		<div class="programCon">
			<!-- //join -->
			<div class="writeForm">
				<table>
					<tr>
						<th><span class="col01">*</span>제목</th>
						<td colspan="3">
							<input id="title" name="title" class="inputTxt inputName"
								type="text" value="">
						</td>
					</tr>
					<tr>
						<th><span class="col01">*</span>작성자</th>
						<td>
							<input id="writer" name="writer" class="inputTxt inputName"
								type="text" value="">
						</td>
						<th><span class="col01">*</span>휴대전화</th>
						<td>
							<input id="callNo" name="callNo" class="inputTxt inputName"
								type="text" value="" placeholder="예) 000-0000-0000">
						</td>
					</tr>
					<tr>
						<th><span class="col01">*</span>이메일</th>
						<td colspan="3">
							<input name="email1" type="text">
							@
							<input name="email2" type="text" class="w10">
							<select name="select_email" onchange="selectEmail(this)">
								<option value="직접입력" selected>직접입력</option>
								<option value="naver.com">naver.com</option>
								<option value="gmail.com">gmail.com</option>
								<option value="hanmail.net">hanmail.net</option>
								<option value="hotmail.com">hotmail.com</option>
								<option value="nate.com">nate.com</option>
							</select>
							<input type="hidden" name="email" value="">
						</td>
					</tr>
					<tr>
						<th>기업명</th>
						<td colspan="3">
							<input id="compNm" name="compNm" class="inputTxt inputName"
								type="text" value="">
						</td>
					</tr>
					<tr>
						<th>제품명</th>
						<td colspan="3">
							<select id="prdtNm1" name="prdtNm1" class="prdtNm1 w21">
                                <option value="">선택</option>
								<option value="압전세라믹필름">압전세라믹필름</option>
								<option value="적충형압전세라믹필름">적충형압전세라믹필름</option>
								<option value="압전세라믹캔틸레버">압전세라믹캔틸레버</option>
								<option value="플렉서블압전세라믹복합체필름">플렉서블압전세라믹복합체필름</option>
							</select>
							<select id="prdtNm2" name="prdtNm2" class="prdtNm2 w15_1">
								<option value="">선택</option>
							</select>
							<input type="hidden" name="prdtNm" value="">
						</td>
					</tr> 
					<tr>
						<th>내용</th>
						<td colspan="3"><textarea name="prdtCt" id="prdtCt" cols="30" rows="10"></textarea></td>
					</tr>
				</table>
			</div>
			</form>
			<div class="writeForm_btn">
				<a href="#" id="w_btn">문의하기</a>
			</div>
		</div>
	
</th:block>
</html>