<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/common/layout/basic_layout}">
<head>
<th:block layout:fragment="script">
<script type="text/javascript">
	console.log('저는 바보입니다.');
</script>
</th:block>
</head>
<th:block layout:fragment="content">
<div class="sub_visual">
	<div class="bg"></div>
	<div class="inner">
		<div class="text">
			<h2 class="mont">WITH US</h2>
		</div>
	</div>
</div>
<div class="sub_path">
     <a href="/" class="logo"></a>
	<div class="inner">
	    <ul>
	       <li><a href="/with/direction/index.jsp"><span>오시는길</span></a></li>
		   <li class="on"><a href="/with/inquiry/write.jsp"><span>온라인문의</span></a></li>
		</ul>
	</div>
</div>
<div class="inquiry_box">
	<div class="inner">
		<div class="sub_tit">
			<h3>온라인문의</h3>
		</div>
	</div>
</div>
<form name="frm" id="frm" action="<%=Function.getSslCheckUrl(request.getRequestURL())%>/process.jsp" method="post"
    enctype="multipart/form-data" onsubmit="return goSave(this);">
    <div class="programCon">
            <!-- //join -->
            <div class="writeForm">
                <table>
                    <colgroup>
                        <col class="writeForm_col01" />
                        <col width="*" />
                    </colgroup>
                    <tr>
                        <th>작성자</th>
                        <td>
                            <input data-value="작성자를 입력하세요." id="name" name="name" class="inputTxt inputName" type="text"
                                value="" <%=(Function.setPlaceHolder("작성자", request) )%>
                        </td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td class="mail_type">
                            <input data-value="이메일을 입력하세요." name="email1" id="email1" class="inputEmail" type="text"
                                value="" @", 0)"><span class="email_txt">@</span>
                                <select class="selecEmail" name="email2" id="email2" onchange="chgDomains(this);"
                                    data-value="이메일을 선택하세요">
                                    <option value="">선택하세요</option>
                                </select>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input data-value="비밀번호를 입력하세요." name="password" id="password" class="inputPass"
                                type="password" maxlength="100" <%=(Function.setPlaceHolder("비밀번호", request) )%>
                        </td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td class="phone_type">

                            <select class="selectNum" name="tel1" id="tel1">
                                <%=CodeUtil.getOptsTel(Function.getSplitIdx(member_tel, "-" , 0))%>
                            </select>
                            <input data-value="연락처를 입력하세요." name="tel2" id="tel2" class="inputNum" type="text"
                                value=""/>
                            <input data-value="연락처를 입력하세요." name="tel3" id="tel3" class="inputNum" type="text"
                                value=""/>
                            <input type="hidden" name="cell" id="cell" value=""/>
                            <input type="text" name="cell" id="cell" class="inputPhone" value=""
                                onkeyup="isNumberOrHyphen(this);" onblur="cvtUserPhoneNumber(this)"
                                data-value="연락처를 입력하세요."/>

                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td class="phone_type">

                            <select class="selectNum" name="cell1" id="cell1">

                            </select>
                            <input data-value="휴대폰을 입력하세요." name="cell2" id="cell2" class="inputNum" type="text"
                                value="" />
                            <input data-value="휴대폰을 입력하세요." name="cell3" id="cell3" class="inputNum" type="text"
                                value=""/>
                            <input type="hidden" name="cell" id="cell" value="" />

                            <input type="text" name="cell" id="cell" class="inputPhone" value=""/>


                        </td>
                    </tr>
                    <tr>
                        <th>제목</th>
                        <td>
                            <input data-value="제목를 입력하세요." type="text" id="title" class="inputTit" name="title" value=""
                                maxlength="120" <%=(Function.setPlaceHolder("제목", request) )%> />
                            <!-- <span class="label_wrap"><input type="checkbox" name="secret" id="secret" value="1" /> <label for="secret">비공개</label></span> -->
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td><textarea name="contents" id="contents" data-value="내용을 입력하세요." cols="30"
                                rows="10"></textarea></td>
                    </tr>



                </table>
            </div>
            <div class="writeForm_btn">
                <a href="javascript:;" id="w_btn" onclick="$('#frm').submit()">문의하기</a>
            </div>
            <input type="hidden" name="cmd" id="cmd" value="write" />
            <input type="hidden" name="email" id="email" value="" />

            <input type="hidden" name="hospital_fk" id="hospital_fk" value="<%=SiteProperty.DEFAULT_BRANCH_NO%>" />

    </div>
</form>
</html>