<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/site/css/user.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>회원가입</title>
</head>


<body>
    <div class="register-form">
        <form id="signupForm" th:action="@{/register}" th:object="${staff}" method="post">
            <p>회원가입</p>
            <p class="essential">
                <span class="essential-style">*</span>
                필수입력사항
            </p>
            <div>
                <span class="essential-style">*</span>
                <label for="memberid">아이디</label>
                <input id="memberid" th:field="*{memberid}" type="text" placeholder="4~20자리 / 영문, 숫자, 특수문자 '_'사용가능" class="form-control2">
                <div th:if="${memberidError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberidError}"></span>
                </div>

            </div>
            <div>
                <span class="essential-style">*</span>
                <label>비밀번호</label>
                <input id="member_password" th:field="*{member_password}" type="text" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" class="form-control2">
                <div th:if="${memberPasswordError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberPasswordError}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label for="confirmPassword">비밀번호 확인</label>
                <input id="confirmPassword" th:field="*{confirmPassword}" type="text" placeholder="비밀번호 확인" class="form-control2">
                <div th:if="${#fields.hasErrors('confirmPassword')}" class="error-message" style="margin-top:6px; color:red">
                    <span th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>이름</label>
                <input id="memberName" th:field="*{memberName}" type="text" placeholder="이름 입력" class="form-control2">
                <div th:if="${memberNameError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberNameError}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>부서</label>
                <select id="memberDepartment" name="memberDepartment" class="form-control2">
                    <option value="">부서를 선택하세요</option>
                    <option value="it" th:selected="${staff.memberDepartment == 'it'}">IT</option>
                    <option value="인사" th:selected="${staff.memberDepartment == '인사'}">인사</option>
                    <option value="마케팅" th:selected="${staff.memberDepartment == '마케팅'}">마케팅</option>
                    <option value="재무" th:selected="${staff.memberDepartment == '재무'}">재무</option>
                </select>
                <div th:if="${memberDepartmentError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberDepartmentError}"></span>
                </div>
                <!--
                <input id="member_department" th:field="*{member_department}" type="text" placeholder="부서 입력" class="form-control2">
                <div th:if="${memberDepartmentError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberDepartmentError}"></span>
                </div>
                -->
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>직급</label>
                <select id="memberPosition" name="memberPosition" class="form-control2">
                    <option value="">직급을 선택하세요</option>
                    <option value="사원" th:selected="${staff.memberPosition == '사원'}">사원</option>
                    <option value="대리" th:selected="${staff.memberPosition == '대리'}">대리</option>
                    <option value="과장" th:selected="${staff.memberPosition == '과장'}">과장</option>
                    <option value="부장" th:selected="${staff.memberPosition == '부장'}">부장</option>
                </select>
                <div th:if="${memberPostionError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberPostionError}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>입사일자</label>
                <input id="memberEmploymentDate" th:field="*{memberEmploymentDate}" type="text" placeholder="YYYY/MM/DD" class="form-control2">
                <div th:if="${memberEmployError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberEmployError}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>생년월일</label>
                <input id="memberBirth" th:field="*{memberBirth}" type="text" placeholder="YYYY/MM/DD" class="form-control2">
                <div th:if="${memberBirthError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberBirthError}"></span>
                </div>
            </div>
            <div>
                <span class="essential-style">*</span>
                <label>이메일</label>
                <div>
                    <input id="memberEmail" th:field="*{memberEmail}" type="text" placeholder="이메일" class="w269 form-control2">
                    <button class="confirm-code" onclick="sendVerificationCode()">
                        <span>인증번호발송</span>
                    </button>
                    <script>
                        function sendVerificationCode() {
                            var email = $("#memberEmail").val();

                            $.ajax({
                                url: '/sendVerificationCode',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ "memberEmail": email }), // 객체 형태로 전송
                                success: function(response) {
                                    console.log('Success response:', response);
                                    alert(response);
                                },
                                error: function(xhr, status, error) {
                                    console.log('Error status:', status);
                                    console.log('Error response:', xhr.responseText);
                                    alert(xhr.responseText);
                                }
                            });
                        }
                    </script>
                </div>

                <div th:if="${memberEmailError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberEmailError}"></span>
                </div>

                <span class="essential-style">*</span>
                <label style="margin-top: 20px;">인증코드</label>
                <input id="verifyCode" th:field="*{verifyCode}" type="text" placeholder="인증코드 입력" class="form-control2">
                <div th:if="${emailVericodefyError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${emailVericodefyError}"></span>
                </div>
            </div>
            <div>
                <p style="text-align: left;">약관</p>
                <div class="conditions">
                    <ul>
                        <li>
                            <input type="checkbox" id="All-select">
                            <label for="All-select">전체동의</label>
                            <p>
                                위치기반 서비스 이용약관(선택), 마케팅 정보수신동의(이메일,SMS/MMS)(선택) 동의를 포함합니다.
                            </p>
                        </li>
                        <li>
                            <input type="checkbox" id="conditions1" name="conditions1" class="required">
                            <label for="conditions1">(필수) 약관에 동의합니다.</label>
                        </li>
                        <li>
                            <input type="checkbox" id="conditions2" name="conditions2" class="required">
                            <label for="conditions2">(필수) 약관에 동의합니다.</label>
                        </li>
                        <li>
                            <input type="checkbox" id="conditions3">
                            <label for="conditions3">(선택) 우치기반서비스 이용약관에 동의</label>
                        </li>
                        <li>
                            <input type="checkbox" id="conditions4">
                            <label for="conditions4">(선택) 마케팅 정보 수신 동의</label>
                        </li>
                        <li>
                            <input type="checkbox" id="conditions5">
                            <label for="conditions5">(선택) 개인회원 약관에 동의</label>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="register-button">
                <span>회원가입</span>
            </button>
        </form>

    </div>
    <!-- JavaScript 코드 -->
    <!-- 약관동의 -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 전체 동의 체크박스 선택/해제 이벤트 리스너
            document.getElementById('All-select').addEventListener('change', function(event) {
                var checkboxes = document.querySelectorAll('.conditions input[type="checkbox"]:not(#All-select)');
                checkboxes.forEach(checkbox => checkbox.checked = event.target.checked);
            });

            // 개별 체크박스 선택에 따른 전체 동의 체크박스 상태 업데이트
            var individualCheckboxes = document.querySelectorAll('.conditions input[type="checkbox"]:not(#All-select)');
            individualCheckboxes.forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    var allChecked = Array.from(individualCheckboxes).every(box => box.checked || box === document.getElementById('All-select'));
                    document.getElementById('All-select').checked = allChecked;
                });
            });
        });

        // 폼 제출 이벤트 리스너
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            var isAllRequiredChecked = Array.from(document.querySelectorAll('.conditions input[type="checkbox"].required')).every(checkbox => checkbox.checked);

            // 필수 약관에 모두 동의하지 않은 경우 경고창 띄우고 폼 제출 막기
            if (!isAllRequiredChecked) {
                alert('모든 필수 약관에 동의해야 회원가입이 가능합니다.');
                event.preventDefault();
            }
        });
    </script>



</body>

</html>