<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="aside">
	<!-- Sidebar -->
	<ul class="navbar-nav sidebar sidebar-light accordion"
		id="accordionSidebar">
		<li>
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/mngr/}">
				<span class="sidebar-brand-icon">
					<img src="/res/mngr/img/logo.png" th:src="@{/res/mngr/img/logo.png}">
				</span>
			</a>
			<hr class="sidebar-divider my-0">
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/mngr/}"> <i
				class="fas fa-fw fa-tachometer-alt"></i> <span>관리자 대쉬보드</span></a>
		</li>
		<li>
			<hr class="sidebar-divider">
			<div class="sidebar-heading">과제수행</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup1')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapsebuss" aria-expanded="true"
			aria-controls="collapsebuss"> <i
				class="far fa-fw fa-window-maximize"></i> <span>사업소개 </span>
		</a>
			<div id="collapsebuss" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup1')} ? 'show' : ''"
				aria-labelledby="headingbuss"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'bizNotice')} ? 'active' : ''"
						th:href="@{/mngr/bizNotice/list}">공고관리</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'demand')} ? 'active' : ''"
						th:href="@{/mngr/demand/list}">수요조사</a>
				</div>
			</div>
		</li>

		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup2')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapseForm" aria-expanded="true"
			aria-controls="collapseForm"> <i class="fab fa-fw fa-wpforms"></i>
				<span>사업신청</span>
		</a>
			<div id="collapseForm" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup2')} ? 'show' : ''"
				aria-labelledby="headingForm"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
					th:classappend="${#strings.equals(p_menu, 'bizApplication')} ? 'active' : ''"
					th:href="@{/mngr/bizApplication/bnList}">접수결과확인</a>

				</div>
			</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup3')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapseTable" aria-expanded="true"
			aria-controls="collapseTable"> <i class="fas fa-fw fa-table"></i>
				<span>사업평가</span>
		</a>
			<div id="collapseTable" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup3')} ? 'show' : ''"
				aria-labelledby="headingTable" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'judge')} ? 'active' : ''"
						th:href="@{/mngr/judge/list}">평가위원</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'pass')} ? 'active' : ''"
						th:href="@{/mngr/pass/standard}">합격기준설정</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'evaluation')} ? 'active' : ''"
						th:href="@{/mngr/evaluation/bnList}">평가</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'objection')} ? 'active' : ''"
						th:href="@{/mngr/objection/bnList}">이의신청</a>
				</div>
			</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup4')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapsetrm" aria-expanded="true"
			aria-controls="collapsetrm"> <i class="fas fa-fw fa-table"></i> <span>협약</span>
		</a>
			<div id="collapsetrm" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup4')} ? 'show' : ''"
				aria-labelledby="headingsetrm"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'plan')} ? 'active' : ''"
						th:href="@{/mngr/plan/list}">수정사업계획서</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'agreement')} ? 'active' : ''"
						th:href="@{/mngr/agreement/list}">협약</a>
				</div>
			</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup5')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapsepre" aria-expanded="true"
			aria-controls="collapsepre"> <i class="fas fa-fw fa-table"></i> <span>수행</span>
		</a>
			<div id="collapsepre" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup5')} ? 'show' : ''"
				aria-labelledby="headingsepre"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'monthly')} ? 'active' : ''"
						th:href="@{/mngr/monthly/list}">월간점검</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'mentoring')} ? 'active' : ''"
						th:href="@{/mngr/mentoring/list}">Tech-Mentoring</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'homework')} ? 'active' : ''"
						th:href="@{/mngr/homework/list}">과제평가</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'finalReport')} ? 'active' : ''"
						th:href="@{/mngr/finalReport/list}">최종보고서</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'finalEvaluation')} ? 'active' : ''"
						th:href="@{/mngr/finalEvaluation/list}">최종평가</a>
				</div>
			</div>
		</li>
		<li>
			<hr class="sidebar-divider">
			<div class="sidebar-heading">정보관리</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup6')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapsePage" aria-expanded="true"
			aria-controls="collapsePage"> <i class="fab fa-fw fa-wpforms"></i>
				<span>회원관리</span>
		</a>
			<div id="collapsePage" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup6')} ? 'show' : ''"
				aria-labelledby="headingPage"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'companyMember')} ? 'active' : ''"
						th:href="@{/mngr/companyMember/list}">기업회원</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'localMember')} ? 'active' : ''"
						th:href="@{/mngr/localMember/list}">지자체회원</a>
					<!-- <a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, '#')} ? 'active' : ''"
						th:href="@{/mngr/#}">탈퇴회원</a> -->

				</div>
			</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup7')} ? 'active' : ''">
			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapseInfo" aria-expanded="true"
			aria-controls="collapseInfo"> <i class="fab fa-fw fa-wpforms"></i>
				<span>정보관리</span>
		</a>
			<div id="collapseInfo" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup7')} ? 'show' : ''"
				aria-labelledby="headingInfo"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'notice')} ? 'active' : ''"
						th:href="@{/mngr/notice/list}">공지사항</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'faq')} ? 'active' : ''"
						th:href="@{/mngr/faq/list}">FAQ</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'qna')} ? 'active' : ''"
						th:href="@{/mngr/qna/list}">Q&A</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'rule')} ? 'active' : ''"
						th:href="@{/mngr/rule/list}">규정서식관리</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'library')} ? 'active' : ''"
						th:href="@{/mngr/library/list}">자료실</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'system')} ? 'active' : ''"
						th:href="@{/mngr/system/list}">시스템 매뉴얼</a>
				</div>
			</div>
		</li>
		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup8')} ? 'active' : ''">
			<a class="nav-link" th:href="@{#}"> <i class="fab fa-fw fa-wpforms"></i>
				<span>통계</span>
		</a>
		</li>
		<li>
			<hr class="sidebar-divider">
			<div class="sidebar-heading">사후관리</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/mngr/post-care}">
					<i class="fas fa-fw fa-tachometer-alt"></i> <span>사후관리 대쉬보드</span></a>
		</li>

		<li class="nav-item"
			th:classappend="${#strings.equals(p_menuGroup, 'menuGroup9')} ? 'active' : ''">

			<a class="nav-link collapsed" th:href="@{#}" data-toggle="collapse"
			data-target="#collapseMeg" aria-expanded="true"
			aria-controls="collapseMeg"> <i class="fab fa-fw fa-wpforms"></i>
				<span>사후관리</span>
		</a>
			<div id="collapseMeg" class="collapse"
				th:classappend="${#strings.equals(p_menuGroup, 'menuGroup9')} ? 'show' : ''"
				aria-labelledby="headingMeg"
				data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">

					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'performance')} ? 'active' : ''"
						th:href="@{/mngr/performance/list}">성과관리</a>
					<a class="collapse-item"
						th:href="@{http://initech.iooo.pw/ecoeye/}">가동률 관리</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'history')} ? 'active' : ''"
						th:href="@{/mngr/history/list}">이력관리</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'survey')} ? 'active' : ''"
						th:href="@{/mngr/survey/list}">추적조사</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'sanction')} ? 'active' : ''"
						th:href="@{/mngr/sanction/list}">제재조치</a>
					<a class="collapse-item"
						th:classappend="${#strings.equals(p_menu, 'application')} ? 'active' : ''"
						th:href="@{/mngr/application/list}">이의신청</a>

				</div>
			</div>
		</li>
	</ul>
	<!-- Sidebar -->
</th:block>
</html>