<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="common-util">
<script th:inline="javascript">
$(document).ready(function() {
	const header = $('meta[name="_csrf_header"]').attr('content');
	const token = $('meta[name="_csrf"]').attr('content');
	ajaxUtil.setup(header, token);
});

// 날짜 형식 자동 변환
const checkDateFormat = function(obj) {
	// @see DELETE 키버튼이 눌리지 않은 경우에만 실행
	if (event.keyCode != 8) {

		// @see 숫자와 하이픈(-)기호의 값만 존재하는 경우 실행
		if (obj.value.replace(/[0-9 \-]/g, '').length == 0) {

			// @see 하이픈(-)기호를 제거한다.
			let number = obj.value.replace(/[^0-9]/g, '');
			let ymd = '';

			// @see 문자열의 길이에 따라 Year, Month, Day 앞에 하이픈(-)기호를 삽입한다.
			if (number.length < 4) {
				return number;
			} else if (number.length < 6) {
				ymd += number.substr(0, 4);
				ymd += '-';
				ymd += number.substr(4);
			} else {
				ymd += number.substr(0, 4);
				ymd += '-';
				ymd += number.substr(4, 2);
				ymd += '-';
				ymd += number.substr(6);
			}

			obj.value = ymd;

		} else {
			//@see 숫자와 하이픈(-)기호 이외의 모든 값은 삭제한다.
			obj.value = obj.value.replace(/[^0-9 ^\-]/g, '');
			return false;
		}
	} else {
		return false;
	}
};

// 날짜를 문자열로 변환 (yyyy-MM-dd))
const getDate = function(orgDate) {
	const date = new Date(orgDate);
	const y = date.getFullYear();
	const m = ('0' + (date.getMonth() + 1)).slice(-2);
	const d = ('0' + date.getDate()).slice(-2);

	return y + "-" + m + "-" + d;
};

//화면출력
const printArea = function() {
	/*<![CDATA[*/
	const documentTitle = /*[[ ${p_documentTitle} ]]*/ '';
	/*]]*/
	
	let printWindow = null;
	printWindow = window.open('','print', 'width=800, height=600');
	
	self.focus();
	printWindow.document.open();
	printWindow.document.write('<html><head>');
	printWindow.document.write('<title>뿌리산업관리-관리자 :: '+documentTitle+'</title>');
	printWindow.document.write('<link rel="stylesheet" type="text/css" href="/res/mngr/css/all.css">');
	printWindow.document.write('<link rel="stylesheet" type="text/css" href="/res/mngr/lib/bootstrap/css/bootstrap.css">');
	printWindow.document.write('<link rel="stylesheet" type="text/css" href="/res/mngr/css/admin.css">');
	printWindow.document.write('<link rel="stylesheet" type="text/css" href="/res/mngr/css/style.css"></head>');
	printWindow.document.write('<body style="width: 800px;">');
	printWindow.document.write(document.getElementById('printArea').innerHTML);
	printWindow.document.write('</body></html>');
	printWindow.document.close();
	
	setTimeout(function() {
		printWindow.print();
		printWindow.close();
	}, 1000);
};

//이메일 유효성 체크
const checkEmail = function(userEmail) {
	const emailRegExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
	if (userEmail.match(emailRegExp) == null) {
		return false;
	}
	return true;
};

//숫자 형식 자동 변환
const checkNumberFormat = function(obj) {
	if(event == null || event == undefined) return;
	if(obj == null || obj == undefined) return;
	
	obj.value = obj.value.replace(/[^0-9]/g, '');
}
</script>
</th:block>
</html>