<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footer">
	<footer class="sticky-footer bg-white">
		<div class="container my-auto py-2">
			<div class="copyright text-center my-auto">
				<span>copyright &copy; - 국가뿌리산업진흥센터 <b></b>
				</span>
			</div>
		</div>
	</footer>

	<!-- Modal Logout -->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabelLogout">로그아웃</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>로그아웃하시겠습니까?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline-primary"
						data-dismiss="modal">Cancel</button>
					<a th:href="@{/mngr/logout}" class="btn btn-primary">Logout</a>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>