@charset "utf-8";

/* 프로그램부분 모바일 폰트 크기 조정 */

body{-webkit-text-size-adjust:none; }

@media all and (max-width:640px){
	.program_table table tr{padding:10px 0;}
	.program_table table tr td{font-size:16px; white-space:nowrap;}
	.program_table table tr td p{line-height:inherit;}
	.program_table table tr td.tit{font-size:18px;}
	.program_table table tr td.tit p{width:calc(100% - 165px)}
	.program_table table tr td .consult_on span{padding:6px 10px; font-size:16px;}
	.program_table table tr td a{font-size:22px; color:#666;}
	.write_btn dd a{width:110px; height:40px; line-height:40px; font-size:16px; background:#323337 url("/manage/img/write_icon.png") no-repeat 20px 12px}

	.mo_programPage{height:50px; line-height:50px;}
	.mo_programPage a{font-size:16px;}
	.mo_programPage a span{padding-left:10px; font-size:16px;}
	
	.program_search select{height:40px; font-size:16px;  -webkit-border-radius: 0;}
	.program_search input[type="text"]{width:calc(100% - 160px); height:40px; font-size:16px;}
	.program_search a{width:100px; height:40px; line-height:38px; font-size:16px;}
	
	/* 답글 */
	.ans_icon{width:50px; height:25px; line-height:25px; font-size:16px;}
	.program_table table tr td .answer_icon img{width:12px;}
	.new_icon{padding:3px 5px; font-size:14px;}
	.branch01{padding:3px 5px; font-size:14px;}

	/* 게시판 상세 */
	.writeForm > table > tbody > tr > th{padding:15px; font-size:18px;}
	.writeForm table tr td{font-size:18px;}
	.writeForm table tr td input[type="text"]{height:40px; font-size:16px; -webkit-border-radius: 0;}
	.writeForm table tr td input[type="password"]{height:40px; font-size:16px;}
	.writeForm table tr td input[type="radio"]{width:20px; height:20px;}
	.writeForm table tr td input[type="file"]{width:calc(100% - 115px); font-size:16px; height:40px;}
	.writeForm table tr td select{width:240px; height:40px; font-size:16px; -webkit-border-radius: 0;}
	.writeForm table tr td label{font-size:16px;}
	.writeForm table tr td textarea{font-size:16px;}
	.writeForm table tr td .inputIdtype{width:calc(100% - 140px)}	
	.writeForm table tr td .zipcode{width:calc(100% - 140px)}	
	.writeForm table tr td a.id_ch{width:120px; font-size:16px; line-height:40px; height:40px;}
	.writeForm table tr td a.zip_ch{width:120px; font-size:16px; line-height:40px; height:40px;}
	.writeForm_btn a{font-size:16px; height:40px; line-height:40px;}
	
	#useFile a.btns{font-size:16px; height:40px; line-height:40px;}	

	/* 게시판 읽기 */
	.readTop{padding:10px 0}
	.readTop .imgTitle{font-size:18px;}
	.readTop .imgTitle_sub{font-size:16px;}
	.readEdit{margin:30px 0; font-size:16px; line-height:1.4;}
	.readBottom table tr th{font-size:16px; height:40px;}
	.readBottom table tr th img{width:12px;}
	.readBottom table tr td{font-size:16px; height:40px;}
	.readBottom table tr td a{display:block; font-size:16px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:320px;}
	.readBottom_btn dt a{font-size:16px; width:80px; height:40px; line-height:40px;}
	.readBottom_btn dd a{font-size:16px; width:80px; height:40px; line-height:40px;}
	.programCon .urlFile p a{font-size:18px;}

	/* 댓글 */
	.read_reple .reple_dl{padding-top:0;}
	.read_reple .reple_dl dt{font-size:18px;}
	.read_reple .reple_dl dt strong{display:block; margin-bottom:5px;}
	.read_reple .reple_dl dd{font-size:18px;}
	.read_reple .reple_dl .reEdit input[type="button"]{width:60px; height:35px; font-size:16px; font-weight:500;}
	.read_reple .reple_dl .reEdit{min-width:130px; top:0;}
	.read_rego input[type="text"]{height:40px; font-size:16px;}
	.read_rego textarea{height:100px; font-size:16px;}
	.read_rego input[type="submit"]{width:60px; height:35px; font-size:16px;}
	.password_box div dl dd input[type="button"].password_box_x{width:40px; height:40px;}
	.password_box div dl dt{font-size:18px; width:80px;}
	.password_box div dl dd{width:calc(100% - 80px)}
	.password_box div dl dd input[type="button"]{font-size:16px; width:60px; height:40px;}
	.password_box div dl dd input[type="password"]{font-size:16px; height:40px; width:calc(100% - 120px)}
	.custom_text{height:40px; font-size:18px;}
	.custom_area{font-size:18px;}

	/* 치료사례(이미지목록형) */
	.program_table table tr td.bna > span{width:80px; font-size:18px;}
	.read_reple .bbsno{font-size:18px;}

	/* 치료사례(갤러리형) */
	.bna_wrap ul li{width:94%; margin:3%;}
	.bna_wrap ul li a .before > span{font-size:18px; width:80px;}
	.bna_wrap ul li a .after > span{font-size:18px; width:80px;}
	.bna_wrap ul li div.beafphotocc dt{font-size:18px;}
	.bna_wrap ul li div.beafphotocc dd{font-size:16px;}
	.bna_wrap ul li div.beafphotocc .under{font-size:16px;}

	/* 전후사진 갤러리 */
	.faq_tab li{height:50px;}
	.faq_tab li a{font-size:15px; word-break:break-all;}
	.bna_slide .bef{font-size:16px; width:60px;}
	.bnas_wrap .under_txt{font-size:16px;}
	.bnas_wrap .icon_type > div p{font-size:16px}

	/* 갤러리게시판 */
	.gal_wrap ul li{float:left; width:46%; margin:2%;}
	.gal_wrap ul li:nth-of-type(2n){margin:2%;}
	.gal_wrap ul li:nth-of-type(3n){margin:2%;}
	.gal_wrap ul li .txt{height:137px; box-sizing:border-box;}
	.gal_wrap ul li .up_type{min-height:30px;}
	.gal_wrap ul li a span{font-size:14px; width:60px; height:30px; line-height:28px;}
	.gal_wrap ul li .title{font-size:18px;}
	.gal_wrap ul li a img{height:42.7115vw;}

	/* 카드형게시판 */
	.card_type ul li{width:46%; margin:2%;}
	.card_type ul li:nth-of-type(2n){width:46%; margin:2%;}
	.card_type ul li:nth-of-type(3n){width:46%; margin:2%;}
	.card_type ul li .txt .ti{font-size:18px;}
	.card_type ul li .txt .um{font-size:16px; line-height:1.4;}
	.card_btn a{font-size:16px;}
	.card_btn a span{font-size:16px; padding-right:10px;}

	/* FAQ */
	.faq_table > tbody > tr > th{padding:10px; font-size:18px; font-weight:500;}
	.faq_table > tbody > tr > td{font-size:18px;}

	/* 채용공고 */
	.agr_last{font-size:16px; color:#222;}

	/* 제품소개(이미지목록형) */
	.comi_list ul li .img_type{margin-left:0;}
	.comi_list ul li .txt_type{width:calc(100% - 180px); padding:10px 20px;}
	.comi_list ul li .txt_type > h5{font-size:18px; margin:0 0 10px;}
	.comi_list ul li .txt_type .txt_w{font-size:16px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden}
	.comi_list ul li .txt_type .date{font-size:16px;}

	/* 지점안내 */
	.selc_map .selc_type p input[type="button"]{font-size:18px;}
	.selc_map .selc_type p select{font-size:18px;}
	.branch_table > thead > tr > th{font-size:18px;}
	.branch_table > tbody > tr > th{font-size:18px;}
	.branch_table > tbody > tr > th .btn{width:60px; height:40px; line-height:38px; font-size:16px;}

	/* 이용약관 */
	#member .mem_wrap > h4{font-size:18px;}
	#member #agree h5{font-size:18px;}
	#member #agree p{font-size:16px;}
	#member #agree a{font-size:16px;}
	#member #agree ol li{font-size:16px;}

	/* 개인정보취급방침 */
	#member #policy p{font-size:16px;}
	#member #policy a{font-size:16px;}

	/* 로그인, 패스워드 */
	.login_wrap .login_tit{font-size:22px;}
	.login_wrap .login_tit span{font-size:40px;}
	.login_wrap .login_subtit{font-size:18px;}
	.login_wrap .login_txt{font-size:18px; word-break:keep-all;}	
	.loginCon li.last div span{width:300px;}
	.loginCon li.last div span{font-size:16px;}
	.loginCon li.last div a{width:200px; font-size:16px;}
	.loginCon li dl dd input{font-size:18px;}
	.secedeCon li dl dd input{font-size:18px;}
	.findCon_wrap .up_txt p{font-size:18px;}
	.findCon_wrap .up_txt span{font-size:16px;}
	.findCon li dl dd input{font-size:16px;}
	.under_btn .login_btn{font-size:16px; padding:4% 0}
	.passwordCon li dl dd input{font-size:16px;}

	/* 회원탈퇴 버튼 */
	.sec_ucon .login_btn{height:50px; line-height:50px; font-size:16px;}

	/* 전화상담 */
	.schedule .tit{font-size:18px;}
	
	/* summernote */
	.btn-primary{padding:5px;}
	.modal-header h4{font-size:18px;}
	.writeForm table tr td .btn-sm span{font-size:16px;}
	.modal-body .form-group label{font-size:16px;}
	.note-editor.note-frame .note-editing-area .note-codable{font-size:18px;}
	
	.schedule table.calendar_top_table thead .now{font-size:18px;}
	.schedule table.calendar_table thead th{font-size:16px;}	
	.schedule table.calendar_table tbody td{font-size:16px}
	.calender_wrap .under_wrap p{font-size:16px;}
	.calender_wrap .under_wrap > .sr_wrap input{width:120px; font-size:18px;}
	.calender_wrap .under_wrap > .sr_wrap input.no02{width:65px; font-size:18px;}
	.schedule_time div p{font-size:18px;}	
	.schedule_time > p.titype{font-size:18px;}
	.schedule_time div ul li{font-size:18px;}
	

	/* 이용약관 동의 */
	.programCon .join .ScrollLy *{font-size:16px !Important;}
	.programCon .join .ScrollLy h5{font-size:18px !important}
	.programCon .join .joinTop .jcheck{font-size:16px; padding:10px 0;}

	
	/* 비밀번호 입력 */
	.passwordCon li .password_btn a{font-size:16px; height:50px; line-height:50px}


	/* 스케줄 */
	.commuting_wrap .c_table.schedule_table table th{font-size:16px !important;}
	.commuting_wrap .c_btn > a{font-size:16px !important;}



}