/** button **/

/** login **/
.login-body {
  background-color: #cacaca;
  padding: 80px;
}
.bg-gray {
  background-color: #cacaca;
}

.bg-white {
  background-color: #fff;
  margin: 0 auto;
  width: calc(1800px - 600px);
}
.login-content {
  width: 590px;
  margin: 0 auto;
  padding: 150px 0px;
}
.login-content > p {
  color: rgba(66, 59, 59, 1);
  text-align: center;
}

.login-content > p:first-child {
  font-size: 40px;
}
.login-content > p:nth-child(2) {
  font-size: 25px;
  margin-top: 20px;
}

.find_link {
  font-size: 13px;
  float: right;
}

/** member-register **/
.conditions {
  border: 1px solid #666;
  padding: 10px;
  margin-top: 8px;
}

.conditions input[type="checkbox"] {
  width: 30px;
  height: 25px;
  margin: 0px;
}
.conditions input[type="checkbox"] + label {
  cursor: pointer;
  vertical-align: 7px;
  font-size: 15px;
}
.conditions p {
  font-size: 13px;
  padding-left: 38px;
  padding-bottom: 12px;
}
.conditions > ul > li:first-child {
  border-bottom: 1px solid #666;
}
.conditions > ul > li:not(:first-child) {
  margin-top: 20px;
}

/** 결과 양식 **/
.result-form {
  width: 1200px;
  margin: 0 auto;
}
.result-form > p {
  font-size: 25px;
  text-align: center;
  margin: 30px 0px;
}
.result {
  border-top: 1px solid #666;
  padding: 120px 0px;
  border-bottom: 1px solid #666;
  text-align: center;
}
.register-button-form {
  text-align: center;
}
.register-button-form > a {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

/** mb **/
@media (max-width: 1024px) {
  /** login **/
  .login-body {
    background-color: #cacaca;
    padding: 0px;
  }
  .bg-white {
    width: 100%;
    margin: 0px;
    height: auto;
  }
  .login-content {
    width: 100%;
    padding: 0px;
  }

  /** 결과 양식 find_username_success **/
  .result-form {
    width: 100%;
    margin: 0 auto;
  }

  .register-button-form > a {
    width: 46%;
  }
}
