<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/user.css}" />
    <title>비밀번호 재설정</title>
</head>

<body>
    <div class="register-form">
        <form th:action="@{/account/reginewpassword/{regId}(regId=${regiPasswordDTO.regId})}" th:object="${regiPasswordDTO}" method="post">
            <p>비밀번호 재설정</p>
            <div>
                <span class="essential-style">*</span>
                <label>비밀번호</label>
                <input id="memberPassword" th:field="*{memberPassword}" type="password" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" class="form-control2">
                <div th:if="${memberPasswordError}" class="error-message" style="margin-top:6px; color:red">
                    <span th:text="${memberPasswordError}"></span>
                </div>
            </div>

            <div>
                <span class="essential-style">*</span>
                <label for="confirmPassword">비밀번호 확인</label>
                <input id="confirmPassword" th:field="*{confirmPassword}" type="password" placeholder="비밀번호 확인" class="form-control2">
                <div th:if="${#fields.hasErrors('confirmPassword')}" class="error-message" style="margin-top:6px; color:red">
                    <span th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></span>
                </div>
            </div>

            <button class="register-button">
                <span>비밀번호 재설정</span>
            </button>
        </form>
    </div>
</body>

</html>