<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">
    <link rel="stylesheet" href="../../../static/res/site/css/user.css">
    <title>비밀번호 재설정 성공</title>
</head>

<body>
    <div class="result-form">
        <p>비밀번호 재설정 성공</p>
        <div class="result">
            <p>성공적으로 비밀번호가 재설정 되었습니다.</p>
        </div>
        <div class="register-button-form">
            <a href="../index.html" class="gray-button">
                로그인 화면으로 돌아가기
            </a>
        </div>





    </div>







</body>

</html>