<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/user.css}" />
    <title>비밀번호 찾기</title>
</head>

<body>
    <div class="register-form">
        <p>비밀번호 찾기</p>
        <div>
            <label for="">아이디</label>
            <input type="text" placeholder="아이디 입력" class="form-control2">
        </div>
        <div>
            <label for="">이름</label>
            <input type="text" placeholder="이름 입력" class="form-control2">
        </div>
        <div>
            <label for="">생년월일</label>
            <input type="text" placeholder="YYYYMMDD" class="form-control2">
        </div>
        <div>
            <label for="">이메일</label>
            <input type="text" placeholder="이메일" class="w269 form-control2">
            <button class="confirm-code">
                <span>인증번호발송</span>
            </button>
        </div>
        <div>
            <label for="">인증코드</label>
            <input type="text" placeholder="인증코드 입력" class="form-control2">
        </div>
        <button class="register-button">
            <span>확인</span>
        </button>
    </div>
</body>

</html>