<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">
    <link rel="stylesheet" href="../../../static/res/site/css/user.css">
    <title>아이디 찾기 성공</title>
</head>

<body>
    <div class="result-form">
        <p>아이디 찾기</p>
        <div class="result">
            <p>회원님의 아이디는 <span style="color: red;">ptg0131</span>(으)로 등록되있습니다.</p>
        </div>
        <div class="register-button-form">
            <a href="../index.html" class="gray-button">
                로그인
            </a>
            <a href="../account/find_userpassword.html" class="deepblue-button">
                비밀번호찾기
            </a>
        </div>





    </div>







</body>

</html>