<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/site/css/user.css}" />
    <title>아이디 찾기 실패</title>
</head>

<body>
    <div class="result-form">
        <p>아이디 찾기</p>
        <div class="result">
            <p>조회된 결과가 없습니다.</p>
        </div>
        <div class="register-button-form">
            <a href="/site/login" class="gray-button">
                로그인
            </a>
            <a href="/account/finduseremail" class="deepblue-button">
                다시찾기
            </a>
        </div>
    </div>
</body>

</html>