<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">
    <link rel="stylesheet" href="../../../static/res/site/css/user.css">
    <title>비밀번호 재설정</title>
</head>

<body>
    <div class="register-form">
        <p>비밀번호 재설정</p>
        <div>
            <label for="">비밀번호</label>
            <input type="text" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" class="form-control2">
        </div>
        <div>
            <label for="">비밀번호 확인</label>
            <input type="text" placeholder="8~16자리/영문 대소문자, 숫자, 특수문자 조합" class="form-control2">
        </div>
        <button class="register-button">
            <span>비밀번호 재설정</span>
        </button>
    </div>
</body>

</html>