<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/user.css}" />
    <title>아이디 찾기</title>
</head>

<body>
    <div class="register-form">
        <p>아이디 찾기</p>
        <div>
            <label for="">이름</label>
            <input type="text" placeholder="이름 입력" class="form-control2">
        </div>
        <div>
            <label for="">생년월일</label>
            <input type="text" placeholder="YYYYMMDD" class="form-control2">
        </div>
        <div>
            <label for="">이메일</label>
            <input type="text" placeholder="이메일" class="form-control2">
        </div>
        <button class="register-button">
            <span>아이디 찾기</span>
        </button>
    </div>
</body>

</html>