<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/admin-bootstrap.css">
    <link rel="stylesheet" href="../../../static/res/common/css/admin.css">
    <link rel="stylesheet" href="../../../static/res/common/css/boot.css">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">
    <title>내 정보 수정</title>
</head>

<body>
    <div class="container">
        <!--left-menu-->
        <div class="left-menu">
            <ul>
                <li>
                    <a href="../user/edit_profile.html">홍길동</a>
                    <span>님</span>
                    <button class="logout-button">
                        로그아웃
                    </button>
                    <a href="../user/edit_profile.html">내정보 수정</a>
                </li>
                <li>
                    <a href="../user/All_employee.html">
                        임직원 연차현황
                    </a>
                </li>
                <li>
                    <a href="../user/myvaction_list.html">
                        내 연차현황
                    </a>
                </li>
                <li>
                    <a href="../user/myvacation_register.html">
                        연차신청
                    </a>
                </li>
            </ul>
        </div>
        <!--left-menu-->
        <!--content-->
        <div class="content">
            <p>내 정보 수정</p>
            <table class="view">
                <tbody>
                    <tr>
                        <td>이름</td>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>19970131</td>
                    </tr>
                    <tr>
                        <td>부서</td>
                        <td>인사과</td>
                    </tr>
                    <tr>
                        <td>직급</td>
                        <td>사원</td>
                    </tr>
                    <tr>
                        <td>아이디</td>
                        <td>ptg0131</td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>ptg0131@gmail.com</td>
                    </tr>
                </tbody>
            </table>
            <div class="register-button-form">
                <a href="../user/edit_password.html" class="deepblue-button">
                    비밀번호 변경
                </a>
                <a href="../user/edit_basic_info.html" class="register-button">
                    기본정보 변경
                </a>
            </div>

        </div>

        <!--content-->
    </div>







    <!--content-->
</body>

</html>