<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/admin-bootstrap.css">
    <link rel="stylesheet" href="../../../static/res/common/css/admin.css">
    <link rel="stylesheet" href="../../../static/res/common/css/boot.css">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">

    <title>기본정보 수정</title>
</head>

<body>
    <div class="container">
        <!--left-menu-->
        <div class="left-menu">
            <ul>
                <li>
                    <a href="../user/edit_profile.html">홍길동</a>
                    <span>님</span>
                    <button class="logout-button">
                        로그아웃
                    </button>
                    <a href="../user/edit_profile.html">내정보 수정</a>
                </li>
                <li>
                    <a href="../user/All_employee.html">
                        임직원 연차현황
                    </a>
                </li>
                <li>
                    <a href="../user/myvaction_list.html">
                        내 연차현황
                    </a>
                </li>
                <li>
                    <a href="../user/myvacation_register.html">
                        연차신청
                    </a>
                </li>
            </ul>
        </div>
        <!--left-menu-->
        <!--content-->
        <div class="content">
            <p>내 정보 수정</p>
            <table class="view">
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>이름</td>
                        <td>
                            <input type="text" placeholder="이름 입력" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>생년월일</td>
                        <td>
                            <input type="text" placeholder="생년월일 입력" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td>
                            <input type="text" placeholder="이메일" class="w500 form-control">
                            <button class="confirm-code">
                                <span>인증번호발송</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>인증번호</td>
                        <td>
                            <input type="text" placeholder="인증번호 입력" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>이메일 수정</td>
                        <td>
                            <input type="text" placeholder="이메일" class="form-control">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="register-button-form">
                <button class="register-button">
                    기본정보 변경
                </button>
            </div>

        </div>

        <!--content-->
    </div>







    <!--content-->
</body>

</html>