<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title>아이엔아이테크-관리자</title>
<!--css-->
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/admin-2.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/admin-bootstrap-2.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/all.min-2.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/boot-2.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/datepicker3-2.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/jquery-ui.min-2.css}" />

<!--
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/sb-admin-2.min.css}">
-->
<!--js-->
<script type="text/javascript" th:src="@{/res/site/js/jquery-3.4.1.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/res/site/lib/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap.bundle.min-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datetimepicker.min-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker.kr-2.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/mngr-ajax-util.js}"></script>
<script type="text/javascript">
var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
</script>
</head>
<body>
	<div class="wrap">
		<div class="content">
			<th:block layout:fragment="content"></th:block>
		</div>
		<!--
		<th:block th:replace="site/common/fragment/basic_footer :: footer"></th:block>
		-->
	</div>
</body>
</html>