<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title th:text="|뿌리산업관리-관리자 :: ${p_documentTitle}|">뿌리사업관리-관리자</title>

<!-- css -->
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/all.css}" />
<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/lib/bootstrap/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/admin.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/res/mngr/css/datepicker3.css}">

<script type="text/javascript" th:src="@{/res/mngr/lib/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/lib/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datepicker.kr.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/mngr-ajax-util.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/js/common-util.js}"></script>

<th:block th:replace="mngr/common/fragment/basic_script :: common-util"></th:block>
</head>
<body id="page-top">
	<div id="wrapper">
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<th:block layout:fragment="content">내용</th:block>
			</div>
		</div>
	</div>
	<!-- Scroll to top -->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

<script type="text/javascript" th:src="@{/res/mngr/js/admin.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/lib/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/res/mngr/lib/jquery-easing/jquery.easing.min.js}"></script>
</body>
</html>