<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/res/common/css/admin-bootstrap.css">
    <link rel="stylesheet" href="../../../static/res/common/css/admin.css">
    <link rel="stylesheet" href="../../../static/res/common/css/boot.css">
    <link rel="stylesheet" href="../../../static/res/common/css/common.css">
    <link rel="stylesheet" href="../../../static/res/common/css/source.css">
    <title>반려사유</title>
</head>

<body>
    <div class="container">
        <!--left-menu-->
        <div class="left-menu">
            <ul>
                <li>
                    <a href="/edit_profile.html">홍길동</a>
                    <span>님</span>
                    <button class="logout-button">
                        로그아웃
                    </button>
                    <a href="/edit_profile.html">내정보 수정</a>
                </li>
                <li>
                    <a href="AllEmployee.html">
                        임직원 연차현황
                    </a>
                </li>
                <li>
                    <a href="/myvaction_list.html">
                        내 연차현황
                    </a>
                </li>
                <li class="active">
                    <a href="/myvacation_register.html">
                        연차신청
                    </a>
                </li>
            </ul>
        </div>
        <!--left-menu-->
        <!--left-menu-->
        <!--content-->
        <div class="content">
            <p>반려사유</p>
            <table class="view">
                <tbody>
                    <tr>
                        <td>이름</td>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <td>신청날짜</td>
                        <td>2024-12-31</td>
                    </tr>
                    <tr>
                        <td>시작일자</td>
                        <td>2024-01-02</td>
                    </tr>
                    <tr>
                        <td>종료일자</td>
                        <td>2024-01-01</td>
                    </tr>
                    <tr>
                        <td>총 일수</td>
                        <td>3일</td>
                    </tr>
                    <tr>
                        <td>반려사유</td>
                        <td>인원부족</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <!--content-->
    </div>







    <!--content-->
</body>

</html>