<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/common/layout/basic_layout}">
 
<head>

</head>
<th:block layout:fragment="script">
<script type="text/javascript">
function selectEmail(ele) {
	var $this = $(ele);
	var $email2 = $('input[name=email2]');

	if ($this.val() == "1") {
		$email2.attr('readonly', false);
		$email2.val('');
	} else {
		$email2.attr('readonly', true);
		$email2.val($this.val());
	}
}
</script>
<script type="text/javascript">		
function categoryChange2(e) {
	var good_a = ["선택"];
	var good_b = ["선택", "IP-1515", "IP-1530", "IP-1545", "IP-T1030"];
	var good_c = ["선택", "IP-1515L", "IP-1530L", "IP-1545L", "IP-T1030L"];
	var good_d = ["선택", "IPC-1515", "IPC-1530", "IPC-1545", "IPC-T1030"];
	var good_e = ["선택", "IPFC-2050T", "IPFC-2050L"];
	var target = document.getElementById("good2");

	if (e.value == "a") var d = good_a;
	else if (e.value == "b") var d = good_b;
	else if (e.value == "c") var d = good_c;
	else if (e.value == "d") var d = good_d;
	else if (e.value == "e") var d = good_e;
	else if (e.value == "f") var d = good_f;
	else if (e.value == "g") var d = good_g;
	else if (e.value == "h") var d = good_h;
	else if (e.value == "i") var d = good_i;
	else if (e.value == "j") var d = good_j;
	else if (e.value == "k") var d = good_k;
	else if (e.value == "l") var d = good_l;
	target.options.length = 0;

	for (x in d) {
		var opt = document.createElement("option");
		opt.value = d[x];
		opt.innerHTML = d[x];
		target.appendChild(opt);
	}
}
</script>
<script type="text/javascript">
	$(window).on("load", function () {
		// tab
		$(".sub_tabbtn ul li a").on("click", function () {
			var idx = $(this).parent().index();
			$(this).parent().addClass("on").siblings().removeClass("on");
			$(".tab_contents > div").eq(idx).show().siblings().hide();
		});
	});
</script>
</th:block>
<th:block layout:fragment="content">
	<div id="com2" style="width:0px; height:0px; position:absolute; left:0px; top:0px; z-index:1">
		<form name="urlMaintain" id="urlMaintain" action="/member/login.jsp" method="post">
			<input type="hidden" name="url" id="main_url" value="/with/inquiry/write.jsp" />
			<input type="hidden" name="param" id="main_param" value="" />
		</form>
	</div>
	<div id="all_menu">
		<div class="all_menu_header">
			<a href="/" class="logo"></a>
			<div class="right">
				<div class="all_menu_btn">
					<i></i>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="gnb"></div>
		</div>
	</div>
	<div class="m_menu_bg"></div>
	<div id="m_menu">
		<div class="top_box">
			<img src="/res/site/img/logo02.png" alt="">
			<a class="close_btn" href="javascript:;"><i></i><i></i></a>
		</div>
		<div class="gnb_box">
		</div>
	</div>
	<div class="sub_visual">
		<div class="bg RD-background"></div>
		<div class="inner">
			<div class="text">
				<h2 class="mont">R&D</h2>
			</div>
		</div>
	</div>
	<div class="sub_path">
		<a href="/" class="logo"></a>
		<div class="inner">
			<ul>
				<li class="w33"><a href="/md/piezoele"><span>압전</span></a></li>
				<li class="on w33"><a href="/md/energy"><span>에너지 하베스팅</span></a></li>
				<li class="w33"><a href="/md/health"><span>헬스케어</span></a></li>
			</ul>
		</div>
	</div>
	<div class="rnd_top_box">
		<div class="inner">
			<div class="sub_tit">
				<h3>에너지 하베스팅</h3>
			</div>
			<div class="sub_tabbtn">
				<ul class="grid05">
					<li class="on"><a href="javascript:;"><span>압전 캔틸레버</span></a></li>
					<li><a href="javascript:;"><span>미소풍력 발전용 압전 발전소자</span></a></li>
					<li><a href="javascript:;"><span>디스크형 압전 발전소자</span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="tab_contents">
		<!-- tab01 -->
		<div>
			<div class="energy_con01 wow fadeInUp">
				<div class="inner">
					<div class="history_tit">
						<div class="tit">
							<p>압전 캔틸레버</p>
						</div>
						<div class="txt_box">
							<p><b>압전 세라믹 필름이 스테인레스 스틸 (SUS) 탄성체 표면에 부착된 형태</b>로 <br>한쪽 측면만 몸체에 고정이 가능하도록 제작</p>
						</div>
					</div>
					<div class="img_box">
						<img src="/res/site/img/energy_con01_img01.png" alt="">
					</div>
				</div>
			</div>
		</div>
		<!-- tab02 -->
		<div>
			<div class="energy_con02 wow fadeInUp">
				<div class="inner">
					<div class="history_tit">
						<div class="tit">
							<p>미소풍력 발전용 압전 발전소자</p>
						</div>
						<div class="txt_box">
							<p>압전 세라믹/폴리머 복합 소재 기반의 플렉서블 센서를 이용 <br><b>“미소풍력을 이용한 독립전원형 IoT 델리네이터”</b></p>
						</div>
					</div>
					<div class="video_wrap">
						<div class="video_box">
							<iframe
								src="https://player.vimeo.com/video/700706523?h=18f668941a&title=0&byline=0&portrait=0&muted=1&autoplay=1"
								frameborder="0" allow="fullscreen; picture-in-picture" allowfullscreen></iframe>
						</div>
						<div class="txt_box">
							<p>[ 동영상 ] 미소풍력을 이용한 독립전원형 IoT 델리네이터</p>
						</div>
					</div>
					<div class="sensor_box type01">
						<div class="img_box">
							<ul>
								<li>
									<div class="img">
										<img src="/res/site/img/energy_con02_img03.png" alt="">
									</div>
								</li>
								<li>
									<div class="vid">
										<iframe
											src="//player.vimeo.com/video/701070296?h=64b4720fb6&title=0&byline=0&portrait=0"
											frameborder="0" allow="fullscreen; picture-in-picture"
											allowfullscreen></iframe>
									</div>
								</li>
							</ul>
						</div>
						<div class="txt_box">
							<p>[ 동영상,그림 ] 압전 기술을 이용한 소형 풍력발전 모듈</p>
						</div>
					</div>
					<div class="sensor_box type01">
						<div class="img_box">
							<ul>
								<li>
									<div class="img">
										<img src="/res/site/img/energy_con02_img05.png" alt="">
									</div>
								</li>
								<li>
									<div class="vid">
										<iframe
											src="//player.vimeo.com/video/701071578?h=458cefc494&title=0&byline=0&portrait=0"
											frameborder="0" allow="fullscreen; picture-in-picture"
											allowfullscreen></iframe>
									</div>
								</li>
							</ul>
						</div>
						<div class="txt_box">
							<p>플러터 라이터 (Flutter Lighter) - 플래그형 압전 풍력 발전 모듈 과 응용 제품</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- tab03 -->
		<div>
			<div class="energy_con03 wow fadeInUp">
				<div class="inner">
					<div class="history_tit">
						<div class="tit">
							<p>디스크형 압전 발전 소자</p>
						</div>
						<div class="txt_box">
							<p><b>"스테이터 모듈용 압전소자 제조"</b></p>
						</div>
					</div>
					<div class="desc">
						<p>
							Buzzer 타입 압전 에너지 컨버터 소자 제조 <br>
							고성능 압전세라믹 소자를 이용한 디스크형 발전소자 적용 <br>
							디스크형 Brass 기판을 이용한 스테이터용 에너지 변환 소자
						</p>
					</div>
					<div class="table_box">
						<table>
							<colgroup>
								<col width="15%">
								<col width="25%">
								<col width="30%">
								<col width="30%">
							</colgroup>
							<thead>
								<tr>
									<th colspan="2">시험항목</th>
									<th>시험결과</th>
									<th class="border">비고</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th rowspan="2">압전 발전부</th>
									<td>평균피크출력 전압(V)</td>
									<td>7.55</td>
									<td rowspan="2" class="border">부하저항 : 500Ω</td>
								</tr>
								<tr>
									<td>평균피크출력 전력(mW)</td>
									<td>114.01</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="img_box">
						<div class="left_box">
							<ul>
								<li>
									<img src="/res/site/img/energy_con03_img01.png" alt="">
								</li>
								<li>
									<img src="/res/site/img/energy_con03_img02.png" alt="">
								</li>
							</ul>
						</div>
						<div class="right_box">
							<img src="/res/site/img/energy_con03_img03.png" alt="">
						</div>
						<div class="txt_box">
							<p>고성능 압전세라믹 소재 기반 스테이터용 압전 에너지 컨버터</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>