<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1280,user-scalable=no">
<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title th:text="|국가뿌리산업진흥센터 :: ${p_documentTitle}|">국가뿌리산업진흥센터</title>

<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/basic.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/board.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/main.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/content.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/notosanskr.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/jquery.datetimepicker.cs}" />
<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/gap.css}" />
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/res/site/js/nav.js}"></script>
<script type="text/javascript" th:src="@{/res/site/js/site-ajax-util.js}"></script>


</head>
<body>
	<div class="wrap">
		<div class="content">
		
			<th:block th:replace="site/common/fragment/basic_location :: location"></th:block>
			<th:block layout:fragment="content"></th:block>
		</div>
		<th:block th:replace="site/common/fragment/basic_footer :: footer"></th:block>
	</div>
</body>
</html>