<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1280,user-scalable=no">

<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title>아이엔아이테크</title>

<!-- meta -->


<!-- css -->
<link rel="stylesheet" href="res/site/css/basic.css" th:href="@{res/site/css/basic.css}" type="text/css" media="all" />
<link rel="stylesheet" href="res/site/css/board.css" th:href="@{res/site/css/board.css}" type="text/css" media="all" />
<link rel="stylesheet" href="res/site/css/layout.css"th:href="@{res/site/css/layout.css}"  type="text/css" media="all" />
<link rel="stylesheet" href="res/site/css/main.css" th:href="@{res/site/css/main.css}" type="text/css" media="all" />
<link rel="stylesheet" href="res/site/css/content.css" th:href="@{res/site/css/content.css}" type="text/css" media="all" />

<!-- js -->
<script src="res/site/js/jquery.js"></script>
<script type="text/javascript" src="res/site/js/function.js"></script>
<script type="text/javascript" src="res/site/js/menu.js"></script>

<th:block th:replace="site/common/fragment/main_script :: common-util">
</head>
<body class="main">
	<div class="wrap">
		<th:block th:replace="site/common/fragment/basic_header :: header"></th:block>
		<div> id="fullpage">
			<th:block th:replace="site/common/fragment/main_content :: content"></th:block>
			<div class="section fp-auto-height" id="section04">
				<th:block th:replace="site/common/fragment/basic_footer :: footer"></th:block>
			</div>			
		</div>
	</div>

</body>
</html>