<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1280,user-scalable=no">

<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title>아이엔아이테크</title>

<!-- css -->
<link rel="stylesheet" href="/res/site/css/basic.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/board.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/layout.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/main.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/content.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/notosanskr.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/jquery.datetimepicker.css" type="text/css" media="all" />
<link href="/res/site/css/summernote/jquery-ui.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/res/site/css/gap.css" type="text/css" media="all" />

<!-- js -->
<script src="/res/site/js/jquery.js"></script>
<script type="text/javascript" src="/res/site/js/function.js"></script>
<script type="text/javascript" src="/res/site/js/menu.js"></script>
<script src="/res/site/js/main.js"></script>

<!-- font -->
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//fonts.gstatic.com">
<link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">



<!-- 슬릭슬라이더 -->
<link rel="stylesheet" href="/res/site/css/slick.css" type="text/css" media="all" />
<link rel="stylesheet" href="/res/site/css/slick-theme.css" type="text/css" media="all" />
<script src="/res/site/js/slick.js" type="text/javascript" charset="utf-8"></script>
<script src="/res/site/js/slick.min.js" type="text/javascript" charset="utf-8"></script>

<!-- swiper 슬라이더 -->
<link rel="stylesheet" href="/res/site/css/swiper.min.css" type="text/css" media="all" />
<script src="/res/site/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>

<!-- fullpage -->
<link rel="stylesheet" type="text/css" href="/res/site/css/fullpage.css" />
<script type="text/javascript" src="/res/site/js/fullpage.js"></script>

<!-- bx슬라이더 -->
<script type="text/javascript" src="/res/site/js/jquery.bxslider.min.js"></script>

<!-- wow 동적효과 --> 
<script type="text/javascript" src="/res/site/js/wow.js"></script>
<link rel="stylesheet" href="/res/site/css/wow.css" type="text/css" media="all" />

<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script type="text/javascript" src="/res/site/js/function_jquery.js"></script>

<!-- <script type="text/javascript" src="/smarteditor/js/HuskyEZCreator.js"></script> -->
<script type="text/javascript" src="/res/site/js/jquery.colorPicker.js"></script>
<script type='text/javascript' src='/res/site/js/validationBind.js'></script> 

<!-- viewport 480px -->
<script type='text/javascript' src='/res/site/js/viewport.js'></script> 
<link rel="stylesheet" href="/res/site/css/board_mobile.css" type="text/css" media="all">

<!-- main_layout common js -->
<th:block th:replace="site/common/fragment/main_script :: main-script"></th:block>
<!-- // main_layout common js -->
</head>
<body class="main">
	<div id="wrap">
		<th:block th:replace="site/common/fragment/basic_header :: header"></th:block>
	</div>
	<div id="fullpage">
		<th:block th:replace="site/common/fragment/main_content :: content"></th:block>
		<div class="section fp-auto-height" id="section04">
			<th:block th:replace="site/common/fragment/basic_footer :: footer"></th:block>
		</div>
	</div>
</body>
</html>