<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=1280,user-scalable=no">

<meta name="description" content="" />
<meta name="author" content="" />
<meta th:if="${_csrf}" name="_csrf" th:content="${_csrf.token}"/>
<meta th:unless="${_csrf}" name="_csrf" content=""/>
<meta th:if="${_csrf}" name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:unless="${_csrf}" name="_csrf_header" content=""/>

<!-- title -->
<title>국가뿌리산업진흥센터</title>

<!-- css -->
<!--<link rel="stylesheet" type="text/css" th:href="@{/res/site/css/main.css}" />-->

<link rel="stylesheet" th:href="@{/res/site/css/basic.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/board.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/layout.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/main.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/content.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/notosanskr.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/res/site/css/jquery.datetimepicker.css}" type="text/css" media="all" />
<!--<link rel="stylesheet" th:href="@{/res/site/css/summernote/jquery-ui.css}"/>-->
<link rel="stylesheet" th:href="@{/res/site/css/gap.css}" type="text/css" media="all" />


<script type="text/javascript" th:src="@{/res/site/js/jquery.js}"></script>
<!--<script type="text/javascript" th:src="@{/res/site/js/nav.js}"></script>-->
<!--<script type="text/javascript" th:src="@{/res/site/js/site-ajax-util.js}"></script>-->

<th:block th:replace="site/common/fragment/main_script :: common-util">
<!--<th:block th:replace="site/common/fragment/basic_script :: common-util"></th:block>-->
</head>
<body class="main">
	<div class="wrap">
		<th:block th:replace="site/common/fragment/basic_header :: header"></th:block>
		<th:block th:replace="site/common/fragment/vision_content :: content"></th:block>
		<div class="section fp-auto-height" id="section04">
			<th:block th:replace="site/common/fragment/basic_footer :: footer"></th:block>
		</div>
		
	</div>
	
</body>
</html>