<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/admin-bootstrap.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/boot.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/res/common/css/source.css}" />

    <title>관리자 - 회원가입승인</title>
</head>

<body>
    <div class="container">
        <!--left-menu-->
        <div class="left-menu">
            <ul>
                <li>
                    <a href="javascript void(0)">홍길동</a>
                    <span>님</span>
                    <button class="logout-button">
                        로그아웃
                    </button>
                    <a href="javascript void(0)">내정보 수정</a>
                </li>
                <li>
                    <a href="../admin/All_employee.html">
                        연차신청
                    </a>
                </li>
                <li class="active">
                    <a href="../admin/approval.html">
                        회원가입 승인
                    </a>
                </li>
                <li>
                    <a href="../admin/management.html">
                        회원관리
                    </a>
                </li>
            </ul>
        </div>

        <!--left-menu-->
        <!--content-->
        <div class="content">

            <!--검색-->
            <h3>
                <span>회원가입승인</span>
            </h3>
            <div class="search-content">
                <form th:action="@{/admin/approval}" method="get" class="form-horizontal">
                    <div class="search-content">
                        <div class="row">
                            <div class="card-body">
                                <!-- 이름 검색 -->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="memberName" class="col-xs-3 control-label">이름</label>
                                        <div class="col-xs-9">
                                            <input type="text" class="form-control" id="memberName" name="memberName" th:value="${memberName}">
                                        </div>
                                    </div>
                                </div>

                                <!-- 날짜 검색 -->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">등록일</label>
                                        <div class="col-lg-9">
                                            <div class="input-group date w45-inline" id="datapickerBoxStart">
                                                <input type="text" name="searchStartDate" class="form-control" th:value="${searchStartDate}">
                                            </div>
                                            <div class="tiled1">~</div>
                                            <div class="input-group date w45-inline" id="datapickerBoxEnd">
                                                <input type="text" name="searchEndDate" class="form-control" th:value="${searchEndDate}">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- 권한 -->
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="col-xs-3 control-label">상태</label>
                                        <div class="col-lg-9">
                                            <select name="permission" id="permission" class="form-control w100">
                                                <option value="">권한</option>
                                                <option value="신청" >신청</option>
                                                <option value="승인" >승인</option>
                                                <option value="반려" >반려</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>





                            </div>
                            <div class="col-xs-12">
                                <button class="register">검색</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <!--data-->
            <table class="list">
                <colgroup>
                    <col width="5%">
                    <col width="10%">
                    <col width="10%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                    <col width="10%">
                </colgroup>
                <tbody>
                    <tr>
                        <td>순번</td>
                        <td>이름</td>
                        <td>부서</td>
                        <td>직급</td>
                        <td>입사일자</td>
                        <td>신청일자</td>
                        <td>권한</td>
                    </tr>

                    <tr th:each="staff, iterStat : ${staffList}">
                        <td>
                            <p th:text="${staff.orderNumber}"></p>
                        </td>
                        <td >
                            <!--
                            <a th:href="@{/admin/managementView/{bt_idm}(bt_idm=${staff.bt_idm})}" th:text="${staff.member_name}">이름</a>
                            -->
                            <a th:href="@{/admin/approvalView/{id}(id=${staff.id})}" th:text="${staff.memberName}">Default Name</a>
                        </td>
                        <td th:text="${staff.memberDepartment}">부서</td>
                        <td th:text="${staff.getMemberPosition()}">직급</td>
                        <td th:text="${#temporals.format(staff.memberEmploymentDate, 'yyyy-MM-dd')}">입사일자</td>
                        <td th:text="${#temporals.format(staff.applicationDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td th:text="${staff.permission}"></td>
                    </tr>
                    <tr th:if="${staffList.empty}">
                        <td colspan="7">조회된 데이터가 없습니다.</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-xs-12 mgt-50">
                <div class="col-xs-2">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <select class="form-control w60" id="regOldDiv1" name="regOldDiv1"
                                    onchange="changePageSize()">
                                    <option value="10" selected="selected">10개씩보기</option>
                                    <option value="20">20개씩보기</option>
                                    <option value="30">30개씩보기</option>
                                    <option value="40">40개씩보기</option>
                                    <option value="50">50개씩보기</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var urlParams = new URLSearchParams(window.location.search);
                        var size = urlParams.get('size') || '10'; // 기본값은 10으로 설정
                        var selectBox = document.getElementById('regOldDiv1');

                        // select 박스에서 해당하는 값이 선택되도록 함
                        for (var i = 0; i < selectBox.options.length; i++) {
                            if (selectBox.options[i].value === size) {
                                selectBox.selectedIndex = i;
                                break;
                            }
                        }
                    });

                    function changePageSize() {
                        var selectBox = document.getElementById("regOldDiv1");
                        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

                        // 현재 URL 파싱
                        var url = new URL(window.location.href);
                        var searchParams = url.searchParams;

                        // size 파라미터 업데이트
                        searchParams.set('size', selectedValue);

                        // 페이지 리로드 전에 page 파라미터를 1로 설정
                        searchParams.set('page', 1);

                        // 변경된 searchParams를 이용하여 URL의 search 부분 업데이트
                        url.search = searchParams.toString();

                        // 페이지 리로딩
                        window.location.href = url.toString();
                    }
                </script>
                <!--paging-->

                <div class="col-xs-8">
                    <div class="pagination paging" th:if="${totalPages > 1}">
                        <a th:if="${currentPage > 1}" th:href="@{/admin/approval(page=${currentPage - 1}, size=${size}, memberName=${param.memberName}, searchStartDate=${param.searchStartDate}, searchEndDate=${param.searchEndDate} , permission=${param.permission})}">이전</a>

                        <th:block th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${pageNum != currentPage}" th:href="@{/admin/approval(page=${pageNum}, size=${size}, memberName=${param.memberName}, searchStartDate=${param.searchStartDate}, searchEndDate=${param.searchEndDate} , permission=${param.permission})}" th:text="${pageNum}"></a>
                            <a th:if="${pageNum == currentPage}" th:text="${pageNum}" style="color: red;"></a>
                        </th:block>

                        <a th:if="${currentPage < totalPages}" th:href="@{/admin/approval(page=${currentPage + 1}, size=${size}, memberName=${param.memberName}, searchStartDate=${param.searchStartDate}, searchEndDate=${param.searchEndDate} , permission=${param.permission})}">다음</a>
                    </div>
                </div>
            </div>


        </div>

        <!--content-->
    </div>







    <!--content-->
</body>

</html>