<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mngr/common/layout/basic_layout}">
<head>
<script th:inline="javascript">
	$(document).ready(function() {
	
	});
</script>
</head>
<th:block layout:fragment="content">

	<!-- Container area-->
	<div class="container-fluid" id="container-wrapper">		
		
		<!-- 사후관리  -->
		
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4 bg1_1">
					<h3 class="m-txt">특화단지</h3>
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">사업현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li class="dash_b_1">2013년 ~ 2021년 19개 단지 지정</li>
								<li class="dash_b_1">2018년 ~ 2021년 18개 단지 지원</li>
								<li class="dash_b_1">2018년 ~ 2021년 12개 선도단지 지원 </li>								
							</ul>
						</div>
					</div>
					
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">성과현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li>불량률 : 1%</li>
								<li>생산성 : 20%</li>
								<li>작업시간 : 15%</li>
								<li>원감절감 : 10%</li>								
							</ul>
						</div>
					</div>
					
					
					
					
					<div class="dash_area1">
						<div class="chart_1_1">
							<h4 class="">특화단지 가동률</h4>
							<canvas id="myChart9" width="300" height="103"></canvas>
							
							<script>
								var ctx = document.getElementById("myChart9");
								var myChart9 = new Chart(ctx, {
								    type: 'bar',								    
								    data: {
								        labels: ["경기", "경북", "광주", "인천", "울산", "경남", "부산", "대구", "전북"],
								        datasets: [{
								            label: '',
								            data: [4, 4, 5, 6, 5, 5, 4, 4, 5],
								            backgroundColor: [
								                'rgba(13, 90, 243, 1)',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(6, 44, 121, 1)'
								            ],
								            borderColor: [
								            	'rgba(13, 90, 243, 1)',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(6, 44, 121, 1)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	     
								    	    }
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
					</div>
				
				</div>
				<div class="col-lg-4 bg2_1">
					<h3 class="m-txt">지능형</h3>
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">사업현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li class="dash_b_1 pb42">2019년 ~ 2021년 24개 사업 지원</li>								
							</ul>
						</div>
					</div>
					
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">성과현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li>불량률 : 0%</li>
								<li>생산성 : 50%</li>
								<li>작업시간 : 55%</li>
								<li>원감절감 : 60%</li>								
							</ul>
						</div>
					</div>
					
					
					<div class="dash_area1">
						<div class="chart_1">
							<h4 class="">전체 사업기간</h4>
							<canvas id="myChart3" width="100" height="100"></canvas>
							<script>var ctx = document.getElementById("myChart3");
								var myChart3 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								        labels: ["2018", "2019", "2020", "2021"],								        
								        datasets: [{
								            label: '',
								            
								            data: [10, 8, 5, 8],
								            backgroundColor: [
								                'rgba(13, 90, 243, 1)',
								                'rgba(10, 69, 187, 1 )',
								                'rgba(10, 69, 187, 1 )',	
								                'rgba(6, 44, 121, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,0.2)',
								                'rgba(54, 162, 235, 0.2)',								                								               
								                'rgba(255, 159, 64, 0.2)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
								    	  legend: {
												labels: {
													fontColor: "#fff",
													fontSize: 12
												}
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
						<div class="chart_1">
							<h4>2020년도</h4>
							<canvas id="myChart4" width="100" height="100"></canvas><script>var ctx = document.getElementById("myChart4");
								var myChart4 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								    	labels: ["전제지원수", "서면평가", "최종선정"],				
								        datasets: [{
								            label: '',
								            data: [5, 4, 3],
								            backgroundColor: [
								                'rgba(222, 123, 26, 1)',
								                'rgba(167, 92, 18, 1 )',								                
								                'rgba(115, 63, 12, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,1)',
								                'rgba(54, 162, 235, 1)',								                								               
								                'rgba(255, 159, 64, 1)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
						<div class="chart_1">
							<h4>2019년도</h4>
							
							<canvas id="myChart5" width="100" height="100"></canvas><script>var ctx = document.getElementById("myChart5");
								var myChart5 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								    	labels: ["전제지원수", "서면평가", "최종선정"],		
								        datasets: [{
								            label: '',
								            data: [10, 8, 6],
								            backgroundColor: [
								                'rgba(150, 245, 208, 1)',
								                'rgba(107, 206, 168, 1 )',								                
								                'rgba(75, 166, 130, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,0.2)',
								                'rgba(54, 162, 235, 0.2)',								                								               
								                'rgba(255, 159, 64, 0.2)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
					
					
					</div>
				
				</div>
				<div class="col-lg-4 bg3_1">
					<h3 class="m-txt">자동화/첨단화</h3>
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">사업현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li class="dash_b_1 pb42">2019년 ~ 2021년 21개 사업 지원</li>								
							</ul>
						</div>
					</div>
					
					<div class="dash_area1">					
						<div class="dash_lf">
							<span class="dash_t1">성과현황</span>
						</div>
						<div class="dash_rf">
							<ul>
								<li>불량률 : 0%</li>
								<li>생산성 : 50%</li>
								<li>작업시간 : 55%</li>
								<li>원감절감 : 60%</li>								
							</ul>
						</div>
					</div>
					
					
					<div class="dash_area1">
						<div class="chart_1">
							<h4 class="">전체 사업기간</h4>
							<canvas id="myChart6" width="100" height="100"></canvas><script>var ctx = document.getElementById("myChart6");
								var myChart6 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								        labels: ["2018","2019", "2020", "2021"],								        
								        datasets: [{
								            label: '',								            
								            data: [15, 12, 14, 10],
								            backgroundColor: [
								                'rgba(13, 90, 243, 1)',
								                'rgba(10, 69, 187, 1 )',								                
								                'rgba(6, 44, 121, 1)',
								                'rgba(29, 55, 107, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,0.2)',
								                'rgba(54, 162, 235, 0.2)',								                								               
								                'rgba(255, 159, 64, 0.2)',
								                'rgba(255, 159, 64, 0.2)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
								    	  legend: {
												labels: {
													fontColor: "#fff",
													fontSize: 12
												}
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
						<div class="chart_1">
							<h4>2020년도</h4>
							<canvas id="myChart7" width="100" height="100"></canvas><script>var ctx = document.getElementById("myChart7");
								var myChart7 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								    	labels: ["전제지원수", "서면평가", "최종선정"],		
								        datasets: [{
								            label: '',
								            data: [10, 7, 4],
								            backgroundColor: [
								                'rgba(222, 123, 26, 1)',
								                'rgba(167, 92, 18, 1 )',								                
								                'rgba(115, 63, 12, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,1)',
								                'rgba(54, 162, 235, 1)',								                								               
								                'rgba(255, 159, 64, 0.2)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
						<div class="chart_1">
							<h4>2019년도</h4>
							
							<canvas id="myChart8" width="100" height="100"></canvas><script>var ctx = document.getElementById("myChart8");
								var myChart8 = new Chart(ctx, {
								    type: 'bar',
								    data: {
								    	labels: ["전제지원수", "서면평가", "최종선정"],		
								        datasets: [{
								            label: '',
								            data: [11, 8, 5],
								            backgroundColor: [
								                'rgba(150, 245, 208, 1)',
								                'rgba(107, 206, 168, 1 )',								                
								                'rgba(75, 166, 130, 1)'
								            ],
								            borderColor: [
								                'rgba(255,99,132,0.2)',
								                'rgba(54, 162, 235, 0.2)',								                								               
								                'rgba(255, 159, 64, 0.2)'
								            ],
								            borderWidth: 1
								        }]
								    },
								    options: {
								    	  plugins: {
								    	    datalabels: {
								    	      display: false
								    	    }
								    	  },
											scales: {
												xAxes: [{
													ticks:{
														fontColor : '#fff',
														fontSize : 12
													},
													gridLines:{
														color: '#66f',
														lineWidth: 1
													}
												}]
								    	  		,yAxes: [{
													ticks: {
														beginAtZero: true,
														stepSize : 2,
														fontColor : '#fff',
														fontSize : 12,
													},
													gridLines:{
														color: '#66f',
														lineWidth:1
													}
												}]
											}
								    	}
								});
								</script>
						</div>
					
					
					</div>
				
				</div>
			</div>
		
		</div>
		
		
		<div class="row">
			<div class="col-lg-12">
				<div class="col-lg-4 bg4_1">
					<section class="board board_01">
							<h3 class="tit_01">성과등록<span class="f12_l">(최근 5개년 대상)</span></h3>
							<a href="" class="board__more txt_01">더보기</a>
							<ul class="board__list dot_01 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">성과 등록 기업</a>
									<span class="dat">11건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">성과 미등록 기업</a>
									<span class="dat">2건</span></li>
								<li class="board__item">
									<a class="tit elps_01" href="">제재조치 기업</a>
									<span class="dat">0건</span>
								</li>
										
							</ul>
							
							<h3 class="tit_01">문의/지원</h3>
							
							<ul class="board__list dot_01 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">질문 및 요청사항</a>
									<span class="dat">2건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">이의신청</a>
									<span class="dat">0건</span>
								</li>							
							</ul>
					</section>
				
				</div>
				
				<div class="col-lg-4 bg5_1">
					<section class="board board_02">
							<h3 class="tit_01">성과등록 <span class="f12_l">(최근 5개년 대상)</span></h3>
							<a href="" class="board__more txt_01">더보기</a>
							<ul class="board__list dot_02 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">성과 등록 기업</a>
									<span class="dat">24건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">성과 미등록 기업</a>
									<span class="dat">1건</span></li>
								<li class="board__item">
									<a class="tit elps_01" href="">제재조치 기업</a>
									<span class="dat">0건</span>
								</li>
													
							</ul>
							
							<h3 class="tit_01">문의/지원</h3>
							
							<ul class="board__list dot_02 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">질문 및 요청사항</a>
									<span class="dat">1건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">이의신청</a>
									<span class="dat">0건</span>
								</li>							
							</ul>
					</section>
				
				
				
				
				</div>
				
				<div class="col-lg-4 bg6_1">
				
					<section class="board board_03">
							<h3 class="tit_01">성과등록<span class="f12_l">(최근 5개년 대상)</span></h3>
							<a href="" class="board__more txt_01">더보기</a>
							<ul class="board__list dot_03 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">성과 등록 기업</a>
									<span class="dat">20건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">성과 미등록 기업</a>
									<span class="dat">1건</span></li>
								<li class="board__item">
									<a class="tit elps_01" href="">제재조치 기업</a>
									<span class="dat">0건</span>
								</li>
																
							</ul>
							
							<h3 class="tit_01">문의/지원</h3>
							
							<ul class="board__list dot_03 dot_gr">
								<li class="board__item">
									<a class="tit elps_01" href="">질문 및 요청사항</a>
									<span class="dat">0건</span>
								</li>
								<li class="board__item">
									<a class="tit elps_01" href="">이의신청</a>
									<span class="dat">0건</span>
								</li>							
							</ul>
					</section>
				
				
				</div>
			</div>
		</div> 
				
		
		<!--Row end-->
	</div>
	<!---Container Fluid-->

</th:block>
</html>