<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="initech.mvc.mapper.AttachFileMapper">

    <!-- 파일 단건 조회 -->
	<select id="selectAttachFileInfo"
			parameterType="initech.mvc.dto.AttachFileDTO"
			resultType="initech.mvc.vo.AttachFileVO">
		SELECT
			af.af_id
			, af.af_bundle_id
			, af.file_path
			, af.web_path
			, af.file_nm
			, af.save_nm
			, af.file_ext
			, af.file_size
			, af.use_yn
			, af.reg_dt
		FROM
			attach_file af
		WHERE
			af.af_id = #{afId}
	</select>

	<!-- 파일 묶음 조회 -->
	<select id="selectAttachFileBundle"
			parameterType="initech.mvc.dto.AttachFileDTO"
			resultType="initech.mvc.vo.AttachFileVO">
		SELECT
			af.af_id
			, af.af_bundle_id
			, af.file_path
			, af.web_path
			, af.file_nm
			, af.save_nm
			, af.file_ext
			, af.file_size
			, af.use_yn
			, af.reg_dt
		FROM
			attach_file af
		WHERE	af.af_bundle_id = #{afBundleId}
		AND		af.use_yn = 'Y'
		AND		af.af_bundle_id != ''
	</select>

	<!-- 파일 등록 -->
	<insert id="insertAttachFile"
			parameterType="initech.mvc.dto.AttachFileDTO">
		<selectKey resultType="String" keyProperty="afId" order="BEFORE">
			SELECT replace(uuid(),'-','') as af_id
		</selectKey>
		INSERT INTO attach_file (
			  af_id
			, af_bundle_id
			, file_path
			, web_path
			, file_nm
			, save_nm
			, file_ext
			, file_size
			, use_yn
			, reg_dt
        ) VALUES (
			  #{afId}
			, #{afBundleId}
			, #{filePath}
			, #{webPath}
			, #{fileNm}
			, #{saveNm}
			, #{fileExt}
			, #{fileSize}
			, #{useYn}
			, NOW()
        )
    </insert>

    <!-- 파일 정보 수정 -->
    <update id="updateAttachFile"
			parameterType="initech.mvc.dto.AttachFileDTO">
        UPDATE
        	attach_file
        SET
			  af_bundle_id = #{afBundleId}
			, file_path = #{filePath}
			, web_path = #{webPath}
			, file_nm = #{fileNm}
			, save_nm = #{saveNm}
			, file_ext = #{fileExt}
			, file_size = #{fileSize}
			, use_yn = #{useYn}
		WHERE af_id = #{afId}
    </update>

    <!-- 파일 사용여부 업데이트 -->
    <update id="updateAttachFileUseYn"
			parameterType="initech.mvc.dto.AttachFileDTO">
        UPDATE	attach_file
        SET		use_yn = #{useYn}
		WHERE	af_id = #{afId}
		AND     af_bundle_id = #{afBundleId}
    </update>

    <!-- 파일 번들 사용여부 업데이트 -->
    <update id="updateAttachBundleUseYn"
			parameterType="initech.mvc.dto.AttachFileDTO">
        UPDATE	attach_file
        SET		use_yn = #{useYn}
		WHERE	af_bundle_id = #{afBundleId}
    </update>

     <!-- 파일 단건 삭제 -->
    <delete id="deleteAttachFile"
			parameterType="initech.mvc.dto.AttachFileDTO">
        DELETE
        FROM
        	attach_file
		WHERE
			af_id = #{afId}
    </delete>
     <!-- 파일 번들삭제 -->
    <delete id="deleteAttachFileByBundle"
			parameterType="initech.mvc.dto.AttachFileDTO">
        DELETE
        FROM
        	attach_file
		WHERE
			af.af_bundle_id = #{afBundleId}
    </delete>

    <!-- 건수 조회 -->
    <select id="selectTotalCount" resultType="long">
        SELECT FOUND_ROWS()
    </select>
</mapper>
