<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="initech.mvc.mapper.OnlineMapper">


	<sql id="basicTable">
		SELECT SQL_CALC_FOUND_ROWS
			ROW_NUMBER() OVER(ORDER BY online_id) AS no
		    , online_id
		    , title
			, writer
			, compNm
			, callNo
			, email
			, prdt_nm
			, prdt_ct
			, DATE_FORMAT(regist_date, '%Y-%m-%d') as regist_date
		from online	
	</sql>

	<!-- 리스트 페이징 -->
    <select id="selectOnlineListPaging" 
    parameterType="initech.mvc.dto.OnlineDTO" resultType="initech.mvc.vo.OnlineVO">
		<include refid="basicTable"/>
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			<if test="schDateStart != null and schDateStart != ''">
				AND DATE_FORMAT(regist_date, '%Y-%m-%d') <![CDATA[>=]]> #{schDateStart}
			</if>
			<if test="schDateEnd != null and schDateEnd != ''">
				AND DATE_FORMAT(regist_date, '%Y-%m-%d') <![CDATA[<=]]> #{schDateEnd}
			</if>
	        <if test="searchTitle != null and searchTitle != ''">
				AND UPPER(title) LIKE CONCAT('%', UPPER(#{searchTitle}), '%')
			</if>
			<if test="schPrdtNm1 != null and schPrdtNm1 != ''">
				AND (substr(prdt_nm, 1, INSTR(prdt_nm, ' ') - 1) = #{schPrdtNm1} OR prdt_nm = #{schPrdtNm1})
			</if>
			<if test="schPrdtNm2 != null and schPrdtNm2 != '' and schPrdtNm2 != '선택'">
				AND UPPER(prdt_nm) LIKE CONCAT('%', UPPER(#{schPrdtNm2}), '%')
			</if>
			<if test="schCompNm != null and schCompNm != ''">
				AND UPPER(compNm) LIKE CONCAT('%', UPPER(#{schCompNm}), '%')
			</if>
			<if test="schWriter != null and schWriter != ''">
				AND UPPER(writer) LIKE CONCAT('%', UPPER(#{schWriter}), '%')
			</if>
        </trim>
		ORDER BY online_id DESC
		LIMIT #{pageSize} OFFSET #{pageOffset}
    </select>
    
    <!-- 건수 조회 -->
    <select id="selectOnlineTotalCount" resultType="long">
        SELECT FOUND_ROWS()
    </select>  
    
    
    <!-- 조회 -->
	<select id="selectOnline" parameterType="initech.mvc.dto.OnlineDTO" resultType="initech.mvc.vo.OnlineVO">
		<include refid="basicTable"/>
		WHERE
			online_id = #{onlineId}
	</select>
    
  
	<!-- 등록 -->
	<insert id="insertOnline" parameterType="initech.mvc.dto.OnlineDTO">
		INSERT INTO online (
			title
			, writer
			,callNo
			,email
			,compNm
			,prdt_nm
			,prdt_ct
		) VALUES (
			#{title}
			,#{writer}
			,#{callNo}
			,#{email}
			,#{compNm}
			,#{prdtNm}
			,#{prdtCt}
		)
	</insert>

	<!-- 삭제 -->
	<delete id="deleteOnline"  parameterType="initech.mvc.dto.OnlineDTO">
		DELETE FROM online where online_id = #{onlineId}
	</delete>
	
	
	


</mapper>