<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="initech.mvc.mapper.StaffMapper">
    <!-- 등록 -->
    <insert id="insertStaff" parameterType="initech.mvc.mapper.StaffMapper">
        INSERT INTO member
        (memberid, member_password , member_name, member_department, member_position,member_EmploymentDate, member_birth, member_email, email_verifycode, TermsAgreed)
        VALUES
            (#{memberid}, #{member_password} ,#{member_name}, #{member_department}, #{member_position}, #{member_EmploymentDate}, #{member_birth}, #{member_email}, #{email_verifycode}, #{TermsAgreed})
    </insert>

    <!-- 조회 -->
    <select id="selectAllUsers" resultType="initech.mvc.vo.StaffVO">
        SELECT
            bt_idm AS "btIdm",
            memberid AS "memberid",
            member_password AS "memberPassword",
            member_name AS "memberName",
            member_department AS "memberDepartment",
            member_position AS "memberPosition",
            member_EmploymentDate AS "memberEmploymentDate",
            member_birth AS "memberBirth",
            member_email AS "memberEmail",
            email_verifycode AS "emailVerifyCode",
            TermsAgreed AS "termsAgreed"
        FROM
            member
    </select>







</mapper>
